@import 'sprites/comum/*.png';

@include all-comum-sprites;

.comum-carrinho {
  height: 24px;
  width: 34px;
}

.comum-cartao {
  height: 39px;
  width: 60px;
}

.comum-carrinho-mobile {
  height: 29px;
  width: 35px;
}

.comum-descontos {
  height: 24px;
  width: 24px;
}

.comum-facebook, .comum-instagram, .comum-youtube {
  height: 30px;
  width: 29px;
}

.comum-fale-conosco {
  height: 24px;
  width: 23px;
}

.comum-sq {
  height: 24px;
  width: 32px;
}

.comum-trinta-dias {
  height: 83px;
  width: 60px;
}