{% block scripts %}
{% endblock %}
<!-- build:js /core/resources/js/scripts-footer.min.js -->
<script src='/core/resources/js/topbar/carrinhoPopup.js'></script>
<script src='/core/resources/js/topbar/loginPopup.js'></script>
<script src='/core/resources/js/footer/cadastroGratis.js'></script>
<script src='/core/resources/js/footer/rodape.js'></script>
<!-- endbuild -->

<!-- build:js /core/resources/js/plugins.min.js -->
<script src="/core/resources/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/core/resources/js/plugins/datepicker-pt-BR.js"></script>
<script src="/core/resources/js/plugins/easy-autocomplete/wp-jquery.easy-autocomplete.js"></script>
<script src="/core/resources/js/plugins/js-cookies/cookies.js"></script>
<script src="/core/resources/js/plugins/tooltipster/tooltipster-ext.js"></script>
<script src="/core/resources/js/plugins/tooltipster/tooltipster.bundle.min.js"></script>
<script src="/core/resources/js/plugins/slicknav/jquery.slicknav-ext.js"></script>
<script src="/core/resources/js/plugins/slicknav/jquery.slicknav.min.js"></script>
<script src="/core/resources/js/footer/exponencial_wp.js"></script>
<!-- endbuild -->