<a class="ml-5 ml-md-0 mb-2 btn u-btn-primary text-white" onclick="location.href='/checkout'">Ver carrinho</a>
<a class="mb-2 btn btn-danger" href="/checkout?empty-cart=1">Limpar Carrinho</a>

<table class="table table-bordered">
    {% for produto in produtos %}
    <tr>
        <td>{{ produto.imagem }}</td>
        <td>{{ produto.nome }}</td>
        <td>R$ {{ produto.preco|number_format(2, ',', '.') }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2">Total</td>
        <td>R$ {{ total|number_format(2, ',', '.') }}</td>
    </tr>
</table>