<!-- build:css /core/resources/css/estilo.min.css -->
<link rel="stylesheet" type="text/css" href="/core/resources/css/wp/wp-includes/css/dist/block-library/style.min.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/wp/wp-content/plugins/woocommerce/assets/css/blocks/style.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/wp/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/wp/wp-content/plugins/woocommerce/assets/css/woocommerce.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/wp/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/wp/wp-content/plugins/woocommerce/assets/css/woocommerce-inline.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/plugins/slicknav/slicknav.min.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/plugins/tooltipster/tooltipster.bundle.min.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/plugins/tooltipster/tooltipster-sideTip-shadow.min.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/plugins/easy-autocomplete/easy-autocomplete.min.css">

<link rel="stylesheet" type="text/css" href="/core/resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/plugins/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/unify.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/custom.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/custom-mobile.css">
<link rel="stylesheet" type="text/css" href="/core/resources/css/layout.css">
<!-- endbuild -->