{% extends 'comum/footer/scripts.html.twig' %}

{% block scripts %}
    <!-- build:js /core/resources/js/home.min.js -->
    <script async src='/core/resources/js/home/noticiasAtualizadas.js'></script>
    <!-- endbuild -->
{% endblock %}