#wpadminbar {
	display: none;
}

html.wp-toolbar  {
	padding-top: 0;
}

.collapse-sessao{
	cursor: pointer !important;
}

.collapse-sessao > .expand{
	float: right;
	padding-right: 5px;
}

.collapse-todos{
	cursor: pointer !important;
	padding-left: 10px;
}