.a21 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}
.a21-pretitulo {
    color: #333;
    font-size: 20px;
    letter-spacing: 2px;
}

.a21-titulo {
    color: #333;
    font-weight: 700;
    font-size: 45px;
}

.a21-botao {
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    border-width: 2px;
    font-size: 16px;
    font-weight: 900;
    padding: 5px 15px;
    text-transform: uppercase;
    box-shadow: 0px 10px 50px 5px rgb(0 188 160 / 46%);
}

.a21-botao:hover {
    text-decoration: none;
}

.a21-box {
    border-radius: 20px;
    padding: 5px;
}

.a21-box1 {
    background-color: #005faa;
}

.a21-box2 {
    background-color: #0078a0;
}

.a21-box3 {
    background-color: #008c97;
}

.a21-box4 {
    background-color: #00a08d;
}

.a21-box-titulo {
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
}

.a21-box-preco-original {
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    text-decoration: line-through;
}

.a21-box-preco {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;;
    font-size: 27px;
    line-height: 23.8px;
}

.a21-teste {
    background-color: #005FAA;
    color: #fff;
}

.a21-teste-pretitulo {
    font-size: 20px;
    text-transform: uppercase;
}

.a21-teste-titulo {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.a21-teste-texto {
    color: rgba(255,255,255,0.5);
    font-size: 16px;
    line-height: 30px;
}

.a21-teste-nota {
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    line-height: 19px;
}

.a21-vantagens-titulo {
    color: #333;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.a21-vantagens-box {
    background-color: #EFF3FB;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    color: #666;
    padding: 10px 20px;
}

.a21-vantagens-bullet {
    color: #00e070;
    font-size: 18px;
}

.a21-vantagens-item-titulo {
    color: #666;
    font-size: 16px;
    font-weight: 700;
}

.a21-vantagens-item-descricao {
    font-size: 14px;
}

.a21-vantagens-link:hover  {
    text-decoration: none;
}

.a21-contador {
    background-color: #00a08d;
}

.a21-contador-titulo {
    font-weight: 700;
    font-size: 42px;
}

.a21-contador-numero {
    font-weight: 900;
    font-size: 100px;
    line-height: 85px;
}

.a21-contador-label {
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
}

.a21-faq {
    background-blend-mode: overlay;
    background-image:
            url(/wp-content/themes/academy/images/assinaturas-2021/bg.jpg),
            linear-gradient(80deg,#005faa 0%,#00e070 80%);
}

.a21-faq-pretitulo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.a21-destaque-texto {
    color: #d4ccff;
}

.a21-depoimentos-box {
    background-color: #EFF3FB;
    border-radius: 20px;
    padding: 20px;
    font-size: 15px;
}

.a21-depoimentos-box-texto {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    line-height: 21px;
}

.a21-depoimentos-box-nome {
    color: #00A08D;
    font-weight: 900;
}

.a21-depoimentos-box-cargo {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
}

.a21-depoimentos-foto {
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 90px;
    margin-left: 10px
}

.a21-depoimentos-externo {
    padding: 0 40px;
}

.a21-veja-mais {
    color: #005FAA;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom-width: 1px;
    border-bottom-color: #005FAA;
    width: 9%;
    font-size: 18px;
    text-decoration: underline;
}

.a21-veja-mais:link, .a21-veja-mais:visited {
    color: #005FAA;
}

.a21-estamos-online {
    color: #ffffff;
    border-color: #e4fde1;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    background-image: linear-gradient(262deg,#00e070 47%,#00a08d 100%);
}

.a21-estamos-online:hover {
    text-decoration: none;
}

.a21-whatsapp {
    background-color: #e4fde1;
}

.a21-numeros {
    background-color: #EFF3FB;
}

.a21-numeros-texto {
    font-size: 18px;
    font-weight: 900;
}

.a21-tabela {
    background-color: #EFF3FB;
}

.a21-tabela-linha-azul {
    border-bottom: 2px solid #005faa;
}

.a21-tabela-linha-cinza {
    border-bottom: 1px solid #D6D6D6;
}

.a21-tabela-header {
    color: rgb(0, 160, 141);
    font-weight: bold;
    line-height: 14px;
    padding-bottom: 15px;
}

.a21-tabela-check {
    text-align: center;
    font-size: 39px;
    color: rgb(0, 224, 112);
}

.a21-tabela-dash {
    color: #333;
    font-size: 19px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.a21-tabela-bonus {
    color: #333;
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.a21-tabela-bonus-texto {
    color: #ff0000;
}

.a21-tabela-label {
    margin-top: 15px;
    color: #999;
    line-height: 14px;
}

.circles-text {
    font-weight: 900;
}