@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:700,400);



.pag40420 {
	font-size: 20pt; 
	font-weight: bold;
	color:#0d5e9f
}

.pag40418 {
	font-size: 20pt; 
	color:#0d5e9f
}

.pag40412 {
	font-size: 12pt; 
	color:#0d5e9f
}



a.anchor {
	display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

a.anchor-bar {
	top: -300px;
}


.acesso-negado {
	background: url("/wp-content/themes/academy/images/acesso-negado.jpg") no-repeat;
	width: 100%;
    min-height: 569px;
    background-size: cover;390
}

.acesso-negado-sq {
    background: url("/wp-content/themes/academy/images/acesso-negado.jpg") no-repeat;
	width: 100%;
    min-height: 400px;
    background-size: cover;
}

.acesso-negado-bloco {
	margin-top: 150px;
    margin-left: 500px;
}

.acesso-negado-bloco-sq {
	margin-top: 50px;
    margin-left: 150px;
}

.acesso-negado-mensagem-sq {
    color: #fff;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    margin: 120px 0 0 350px;
}

.acesso-negado-sq-titulo {
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	margin: 30px;
}

.acesso-negado-bloco-sq p{
	color: #fff !important;
	text-align: left !important;
	margin: 25px 0 !important;
}

.acesso-negado-bloco-sq ul{
	margin-left: 50px;
}

.acesso-negado-tr-escuro {
	background-color: #e6e7e8;
}
.acesso-negado-tr-claro {
	background-color: #f5f5f5;
}

.acesso-negado-table {
	width: 800px;
	margin: auto;
	border: none;
}

.acesso-negado-table td {
	padding: 15px;
	border: 3px solid #fff;
}

.acesso-negado-check-claro {
	background-color: #99CE83;
	width: 50px;
    text-align: center;
}

.acesso-negado-check-escuro {
	background-color: #79c258;
    width: 50px;
    text-align: center;
}


.acesso-negado-mensagem{
	color: #fff;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
}

.acesso-negado-link {
	text-align: right;
    margin-right: 115px;
    margin-top: 20px;
}

.acesso-negado-link a:link, .acesso-negado-link a:visited {
	font-size: 20px;
    font-style: italic;
    color: #fff;
}

.acesso-negado-link img{
	vertical-align: middle;
}


.agradecimento {
	background-color: #0A67A9;
    padding: 6px 20px;
    font-size: 20px;
    font-style: italic;
    border-top: 2px solid #0C90BD;
    color: #ddd;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert button {
	display:none;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.assinatura-bar {
	background-color: #bcdca1;
	width: 100%;
	height: 29px;
	z-index: 9999;
}

.assinatura-bar-msg {
	color: #333;
	font-weight: bold;
	vertical-align: super;
}

.assinatura-close {
	font-weight: bold;
	vertical-align: super;
	margin: 0 5px;
}

.assinatura-close a:link, .assinatura-close a:visited {
	color: #fff;
	font-weight: bold;
}

.ativo-fundo {
	background-image: url('/wp-content/themes/academy/images/pagina-aluno-coaching.jpg');
	background-size: cover;
}

.ativo-fundo .coaching-instrucoes {
	margin: 200px 0;
}

.blue-table thead th{
	background: #13285F !important;
    color: #FFF !important;
}
.barra {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	
}

.barra div {
	padding: 3px 50px;
}

.barra-amarela-v2 {
	background-color: #DBA83A;
	color: #fff;
	padding: 10px;
    border-radius: 10px;
    margin: 30px 0 20px;
}

.barra-amarela-v2 img {
	width: 20px;
}

.barra-amarela-v2 span {
    margin-left: 10px;
}


.barra-azul {
	background-color: #0A67A9;
}



.barra-azul-claro {
	background-color: #0098da;
}

.barra-verde {
	background-color: #64E678;
}

.barra-vermelha {
	background-color: #ed3237;
}


.bbp-mainpage {
	margin-top: 10px;
}

.blog-post h1 { font-size: 2em !important; }
.blog-post h2 { font-size: 1.5em !important; }
.blog-post h3 { font-size: 1.17em !important; }
.blog-post h4 { font-size: 1.12em !important; }
.blog-post h5 { font-size: .83em !important; }
.blog-post h6 { font-size: .75em !important; }



.box-amarelo {
	background-color: #DBA83A;
	color: #fff;
	padding: 10px;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
}

.box-amarelo a:link, .box-amarelo a:visited {
	color: #fff;
}



.box-azul-o {
	color: #1A719E;
	border: 1px solid #1A719E;
	padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px
}

.box-cinza {
	background-color: #F6F8EB;
    border-radius: 10px;
    padding: 10px;
}

.box-flutuante {
    position: fixed;
    right: 0;
}

.box-professor {
	margin: 20px 0;
}

.box-professor img {
	width: 65px;
    border-radius: 100%;
    margin: -15px;
    background-color: #fff;
}

.box-verde {
	background-color: #79C257;
	border-radius: 10px;
	color: #fff;
    padding: 10px;
    margin: 0 10px 10px 10px;
}


.breadcrumb {
	margin-top: 20px;
}

.btn-pagina-professor {
    font-weight: bold;
    font-size: 16px;
}



.cabecalho-link a:link, .cabecalho-link a:visited, .cabecalho-link {
	color: #122659;
	text-transform: uppercase;
}

.cabecalho-bemvindo {
 	color: #122659;
    bottom: 10px;
    position: relative;
    font-weight: bold;
}

.cabecalho-direita {
	margin-top: 30px;	
}

.cabecalho-direita-menor {
	margin-top: 9px;	
	text-align: center;
}

.cabecalho-faleconosco-p {
 	display: none;	
}

.cabecalho-link {
	margin: 5px;
}


#cadastro {
	background: url("/wp-content/themes/academy/images/bg-cadastro.jpg") no-repeat;
	width: auto;
    min-height: 569px;
    background-size: cover;
}

#carregar-mais:link, #carregar-mais:visited, #carregar-mais:hover {
	color: #666;
    font-size: 14px;
    font-weight: bold;
}


.campo-obrigatorio {
	color: #ff0000;
}

.campo-desativado {
	background-color: #eee !important;
}

.celula-professor .tab {
	margin: 15px 0;
}

.checkout-botoes {
	text-align: right;
}

.checkout-botoes img {
	width: 270px;
}

.comparativo-coaching-titulo {
	font-size: 16px;
    color: #0A67A9;
    text-transform: uppercase;
    font-weight: bold;
}

div#coaching {
	width: 1280px;
	margin: 0;
}

div#coaching .row {
	width: 100%;
	margin: 0 auto 0 auto;
}
div#header-coaching {
	font-family: 'Droid Sans', sans-serif !important;
	font-weight: 700;
	font-size: 17pt;
	color: rgb(46,57,96) !important;
	margin: 25px 0px 40px 10px;
}

.col-6m {
	width: 49.9%;
}

.coaching-fase {
	text-transform: uppercase;
	color: #fff;
	margin: 0 10px;
	padding: 20px 0;
	text-align: center;
	width: 290px;
	height: 64px;
}

.coaching-instrucoes {
	font-family: 'Droid Sans', sans-serif !important;
	font-weight: 700;
	font-size: 13pt;
    margin: 40px auto 100px !important;
}

.coaching-posicao-1 {
	margin: 20px 0;
}

.coaching-posicao-1 img {
	width: 235px;
}

.coaching-inscricao-img {
	height: 36px;
	margin: 0 5px;
	vertical-align: sub;
}

.coaching-fundo {
	background-image: url('/wp-content/themes/academy/images/painel-coaching-fundo.jpg');
	background-size: cover;
}

.coaching-instrucoes-container {
	margin: 100px;
}

.coaching-concurso {
	margin-bottom: 20px;
	font-size: 20px;
    font-weight: bold;
}

.coaching-concurso-preco {
	margin-bottom: 20px;
	font-size: 16px;
	text-align: right;
}

.coaching-fundo-azul-claro {
	background-color: #e4f3f0;
}

.coaching-titulo {
	color: #006ec1;
	font-size: 26px;
	font-weight: bold;
}

.coaching-concurso img {
	margin-right: 20px;
}

.coaching-concurso-preco strike {
	font-size: 90%;
}

.coaching-row {
	padding: 30px !important;
}

.coaching2-titulo {
	color: #0C67AE;
	text-align: center;
    padding-top: 40px;
    border-top: 2px solid #dedede;
    margin-bottom: 40px;
}

.coaching2-titulo-azul {
	text-align: center;
	background-color: #0C67AE;
    padding-top: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.coaching2-titulo-sem-borda {
	text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.coaching2-titulo-texto {
	font-size: 24px;
	text-transform: uppercase;	
	font-weight: bold;
}

.coaching2-titulo-img {
	width: 42px;
}

.coaching2-row {
	margin-bottom: 40px;
}

.coaching2-area-cinza {
	padding: 20px 0;
	background-color: #eee;
}

.coaching2-area-img {
    width: 60px;
    float: left;
    margin: 0 30px;
}

.coaching2-area-link {
	color: #0C67AE;
	font-size: 20px;
	font-weight: bold;
}

.coaching2-area-concursos {
	margin-left: 120px;
	font-size: 16px
}

.coaching2-area-concursos li {
	margin: 10px;
}

.coaching2-box-periodo {
    margin-top: -113px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.coaching2-box-preco {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.coaching2-box-inscrevase {
	color: #82f152;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.coaching2-equipe-titulo {
	font-size: 18px;
	font-weight: bold;
}

.coaching2-equipe-subtitulo {
	font-size: 14px;
}

.coaching2-desconto {
	color: #fff;
	margin: 0 20px;
}

.coaching2-desconto-textos {
	margin-top: -200px;
    margin-left: 20px;
}

.coaching2-desconto-titulo {
	font-size: 70px;
	font-weight: bold;
}

.coaching2-botao-azul {
	background-color: #0C67AE;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 40px;
    border-radius: 20px;
}

.coaching2-faq {
	background-color: #eee;
}

.coaching2-modulo-direta .coaching2-modulo-textos {
	margin-left: 40px;
}

.coaching2-modulo-esquerda {
	border-right: 1px solid #ccc;
}

.coaching2-modulo-esquerda .coaching2-modulo-textos {
	margin-right: 40px;
}

.coaching2-modulo-primeiro {
	margin-top: 120px;
}

.coaching2-modulo-ultimo {
	height: 100px;
}

.coaching2-modulo-texto {
	margin-bottom: 40px;
}

.coaching2-modulo-titulo {
	font-size: 24px;
	font-weight: bold;
}

.coaching2-modulo-img {
	width: 50px;
}

.coaching2-modulo-separador {
	border-top: 1px solid #ccc;
    width: 100px;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}

.coaching2-modulo-aprovacao-texto {
	font-weight: bold;
	font-size: 14px;
}

.coaching2-modulo-aprovacao img {
	vertical-align: middle;
}

.coaching2-modulo-aprovacao-pdf {
	width: 32px;
}

.coaching2-modulo-aprovacao {
	margin-bottom: 40px;
}

.ex-aluno-fundo {
	background-image: url('/wp-content/themes/academy/images/ex_aluno_fundo.jpg');
	background-size: cover;
}

.coaching-msg {
	width: initial !important;
}

.coaching-resultado {
	background-image: url('/wp-content/themes/academy/images/painel-coaching-selecao-resultado.png');
	height: 223px;
	width: 170px;
}

.coaching-submit {
	text-align: right;
	margin-bottom: 30px;
}

.bbp-reply-author img {
	width: 80px;
}

.coaching-inscrevase {
	position: fixed;
	right: 0;
	top: 230px; 
	z-index: 9999;
}

.coaching-resultado-interno {
	left: 45px;
  	top: 50px;
  	position: relative;
}

.combo-ordem {
	min-height: 39px;
    display: inline-block;
    margin-left: 25px;
}

.como-funciona a:link, .como-funciona a:visited {
	color: #79C258 !important;
	text-decoration: none;
}

.como-funciona a:hover {
	text-decoration: underline;
}

.como-funciona p {
	font-size: 14px;
}

.como-funciona .row {
	padding: 40px;	
}

.como-funciona-destaque {
	font-size: 24px !important;
	font-weight: bold;
	text-align: left !important;
}

.como-funciona-titulo {
	font-size: 28px !important;
	font-weight: bold;
	text-align: left !important;
}

.como-funciona-texto {
	font-size: 18px;
	text-align: left !important;
}

.como-funciona-links {
	font-size: 18px !important;
	font-weight: bold;
	line-height: 0.5;
	text-align: left !important;
}

.como-funciona-link-azul a:link, .como-funciona-link-azul a:visited {
	color: #0A67A9 !important; 
}

#concursos h5 {
	min-height: 50px !important;
	max-height: 50px !important;
}

#concursos .course-preview.premium-course {
	min-height: 260px !important;
	max-height: 260px !important;
}

.concursotab td {
	background-color: #fff;
}

.contato-professor-form label{
	text-align: right;
}


.course-preview .course-header {
    max-height: 76px;
}

/*
.cronograma-detalhe div{
	margin: 5px 0;
}
*/

.cronograma-detalhe img {
	vertical-align: middle;
    margin-right: 10px;
}

.cronograma-detalhe, .cronograma-detalhe td {
	background-color: #F6F8EB !important;
}

.cronograma-detalhe-interno, .cronograma-detalhe-interno td {
	background-color: #F6F8EB !important;
	padding: 20px;
}

.cronograma-detalhe-interno-erro {
	background-color: #EF4934 !important;
	color: #fff;
	margin: 0;
	border-radius: 20px;
}

.cronograma-detalhe-interno-erro-texto {
	padding: 20px;
	float:left;
	font-size: 14px;
}

.cronograma-detalhe-interno-erro-comprar {
	background-color: #D44830 !important;
	padding: 20px;
	float: right;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0 20px 20px 0;
	color: #fff;
}

.curso h1 {
	color: #1A719E;
    font-size: 36px;
    margin: 20px 0;
}

.curso h2 {
	color: #1A719E;
    font-size: 32px;
    margin: 20px 0;
}

.curso h3 {
	color: #1A719E;
    font-size: 24px;
}


.curso-aula-disponivel {
	color: #1A719E;
    font-size: 18px;
    font-weight: bold;
}

.curso-aula-indisponivel {
	color: #333;
    font-size: 18px;
    font-weight: bold;
}

.curso-aula-icones {
	min-height: 1px;
	text-align: left;
	margin-left: 20px;
}

.curso-aulademo {
    font-weight: bold;
    text-transform: uppercase;
}

.curso-campo {
    margin: 5px 0;
}

.curso-demo {
	margin: 20px 10px;
	text-align: center;
}

.curso-demo-titulo {
	min-height: 60px;
	max-height: 60px;
	overflow: hidden;
}

.curso-descricao {
	font-size: 14px;
    font-weight: normal;
}

.curso-preco {
	font-size: 20px;
    font-weight: bold;
}

.curso-sem-desconto {
	text-decoration: line-through;
}

.curso-veja-mais {
    background-color: #E7F4FA;
    border-radius: 20px;
    padding: 20px;
    margin: 0 0 20px 20px;
}

.curso-veja-mais-item {
	font-size: 14px;
	clear: both;
	margin: 10px 0;
	height: 48px;
}

.curso-veja-mais-item img {
	vertical-align: middle;
	float: left;
    margin-right: 10px;
}

.curso-veja-mais-item span {
	height: 42px;
    display: block;
    vertical-align: middle;
    overflow: hidden;
    text-align: left
}

.customer_details {
	overflow: hidden;
}

#customer_details {
	display: none;
}

.link-azul a:link, .link-azul a:visited {
	color: #0A67A9 !important
}

.descontos img {
	margin-right: 10px;
	vertical-align: bottom;
}

.descontos sup {
	font-size: 9px;
}

.descontos-coluna {
	background-color: #F6F8EB;
	border-radius: 20px;
	text-align: center;
	padding: 20px 2px;
	margin-right: 1.5% !important;
}

.desconto-img-sup {
	padding: 5px 0 10px 0;
	margin-bottom: 10px;
	border-bottom: 3px solid #BEBEBE;
}

.desconto-img-sup img{
	height: 85px;
}

.desconto-texto-normal {
	font-size: 16px;
}

.desconto-texto-azul {
	font-size: 20px;
	color: #0A67A9 ;
	font-weight: bold;
	margin-bottom: 10px;
}


.descontos-coluna-interna {
	min-height: 470px	
}

.descontos-coluna-interna-exemplo {
	background-color: #E6E7E9;
	margin-top: -20px;
	border-radius: 20px;
	padding-top: 30px;
}

.desconto-banner {
	margin: 30px 0;
	text-align: center;	
}

.desconto-num {
	color: #ff0000;
}

.desconto-titulo {
	font-size: 24px !important;
    font-weight: bold;
    text-align: left !important;
    margin: 30px 0;
}

.desconto-info {
	background-color: #E6E7E9;
	width: 100%;
	padding-bottom: 30px;
	margin-top: 30px;
}

.desconto-info img {
	margin-right: 5px !important;
	vertical-align: initial;
}

.desconto-legenda {
	margin-bottom: 5px;
}

.desconto-subtitulo {
	font-size: 24px !important;
    font-weight: bold;
    text-align: left !important;
    margin: 30px 0 15px;
}

.descontos-pre {
	min-height: 80px;
}

.descricao-coaching a:link, .descricao-coaching a:visited {
	color: #0A67A9 !important; 
}

.destaque .col-1_5, .pacote .col-1_5, .nao-pacote .col-1_5 {
	width: 12%;	
}

.destaque .col-10, .pacote .col-10, .nao-pacote .col-10 {
	width: 77%;
}

.destaque .tab {
	background-color: #eed4d1;
    border-bottom: 2px solid #bb6c8f;
    border-top: 2px solid #eed4d1;
}

.destaque .concurso-curso-dados-valor, .destaque .concurso-preco-parcela, .destaque .concurso-preco-parcelamento {
    color: #bb6c8f;
}

.destaque .concurso-curso-dados-titulo {
    background-color: #bb6c8f;
}

.detalhamento-coaching-bloco-texto p {
	text-align: left !important;	
}

.detalhamento-coaching-coluna {
	text-align: center;
}

.detalhamento-coaching-coluna div {
	margin: 20px 0;
}

.detalhamento-coaching-coluna-descricao {
	min-height: 65px;
	font-size: 14px;	
}

.detalhamento-coaching-header {
	padding-top: 20px; 
}

.detalhamento-coaching-header-meio .texto-azul{
	font-size: 20px;
	font-weight: bold;
}

.detalhamento-coaching-header-meio .texto-verde {
	font-size: 22px;
	font-weight: bold;
}

.detalhamento-coaching-header-direita p{
	margin-bottom:20px;
	text-align: left !important;
}

.detalhamento-coaching-titulo {
	font-size: 22px;
	font-weight: bold;
}

.detalhamento-coaching .row .tencol {
	width: 80%
}

.detalhamento-coaching .barra {
	font-size: 30px;
}

.detalhe_produto_bt_preco ins, .price_bt.detalhe_produto_bt_preco.detalhe_produto_gratis {
  background: none repeat scroll 0 0 #73C04F !important;
  border-bottom: 2px solid #2D7F3D !important;
  border-top: 2px solid #A5CE37 !important;
  color: #FFFFFF !important;
  font-family: calibri !important;
  font-size: 21px !important;
  font-weight: bold !important;
  height: 47px !important;
  line-height: 47px !important;
  padding: 0 12px !important;
  display: block;
}

.descontos-promocoes img {
	vertical-align: middle;
    width: 24px;
    margin-right: 5px;
}



.faq-list h2 {
	font-size: 20px;
}

.faq-list h2:before {
	content: " ";
	background: url('/wp-content/themes/academy/images/coaching2-seta-abrir.png') no-repeat;
	background-size: 20px 20px;
	display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.fc-ass-ori {
	overflow-wrap: break-word;
}

.feedback-acompanhamento {
	background-image: url(/wp-content/themes/academy/images/fundo-feedback.png);
	min-height: 427px;
    position: relative;
}

.feedback-acompanhamento-titulo {
	margin-top: 20px;
	margin-left: 400px;
}

.feedback-acompanhamento-texto {
	margin-top: 40px;
	margin-left: 500px;
}

.fixed {
	position: fixed;
}

.fixed-hidden {
	visibility: hidden;
}



#form-relatorio select, #form-relatorio input[type='text'] {
	display: initial;
}

.forum-status-pending {
 	background-color: rgb(255, 255, 224) !important;	
}

.g-recaptcha {
	display: inline-block;
}


.header-divider {
	border-left: 1px solid #ccc
}



.header-wrap {
	width: 100%;
	position: fixed;
	z-index: 999;
}

.header-menu {
	height: 37px;
    background-color: #005FAB;
}

.header-navigation div > ul > li a {
	font-size: 1.3em !important;
	padding: 0 2% !important;
}

.hide-td {
	display: none;
}

.home_midia li.product {
	margin: 0 1.9% 2.992em 1.9%;
	width: 29% !important;
}

.home_midia .course-preview.premium-course {
    min-height: 420px;
    max-height: 420px;
}

.home_midia .resumo {
	margin-top: 10px;
}

/*
.home_midia .course-image {
	min-width: 285px;
	max-width: 285px;
}
*/

.home_midia .course-image img {
     min-height: 149px !important; 
     max-height: 149px !important; 
}

.home_midia .botao {
	margin: 20px 0 10px;
	text-align: center;
}

.home_midia .botao img {
	max-height: 32px !important;
    min-height: 32px !important;
    width: auto !important;
    display: inline !important;
}

.home_midia h5 {
	min-height: 70px;
	max-height: 70px;
	overflow: hidden;
}

.home_midia .resumo {
	min-height: 80px;
	max-height: 80px;
	overflow: hidden;
}

.home_midia .midia-noticia .price-text, .home_midia .midia-noticia .corner {
	background-color: #0A67AA !important;
	width: 60px;
}

.home_midia .midia-artigo .price-text, .home_midia .midia-artigo .corner {
	background-color: #F3BB32 !important;
	width: 60px;
}

.home_midia .midia-video .price-text, .home_midia .midia-video .corner {
	background-color: #EF3238 !important;
	width: 60px;
}

#midias .course-header {
	max-height: initial;
}

.midia-filtro {
	font-size: 18px;
	margin: 10px auto 30px !important;
}

.midia-filtro span {
	margin-right: 20px; 
}

.midia-filtro a:link, .midia-filtro a:hover, .midia-filtro a:visited {
	color: #666;
	font-weight: bold;
	margin-left: 20px;
}

.imagem-pendente {
	margin-left: -150px;
	margin-right: 125px;
	vertical-align: middle;
	float: right;
}

.indisponivel {
	color: #999;
}

.fundo-cinza {
	background-color: #F5F5F5;
}

.identificacao-aluno {
	background-image: url(/wp-content/themes/academy/images/identificacao-aluno.png);
	min-height: 427px;
    left: -30px;
    position: relative;
}

.identificacao-aluno-texto {
    padding-top: 20px;
    padding-left: 60px;
}

.indicacao-materiais img {
	float: right;
    position: relative;
    bottom: -50px;
    z-index: 100;
}

.label-edital-divulgado {
	background-color: #54D159 !important;
}

.label-edital-proximo {
	background-color: #F4C12E !important;
}


.lancamento-sq-capa {
	background-image: url(/wp-content/themes/academy/images/sq-lancamento-capa.jpg);
	background-size: cover;
	padding: 50px 100px;
}

.lancamento-sq-desconto {
	color: #75B555;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

.lancamento-sq-footer {
	background-color: #2C2E47;
	padding: 20px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}

.lancamento-sq-rodape {
	background-image: url(/wp-content/themes/academy/images/faixa.png);
	background-size: cover;
	padding: 20px 100px;
	margin-left: -2px;
}

.lancamento-sq-tabela table {
	border: 0;
	margin-top: 20px;
}

.lancamento-sq-tabela th, .lancamento-sq-tabela td {
	border: 0;
	padding: 0;
}

.lancamento-sq-tabela input, .lancamento-sq-tabela select {
	width: 100%
}

.lancamento-sq-tablet  {
	margin-top: -200px;
}

.lancamento-sq-texto-medio {
	font-weight: bold; 
	font-size: 30px; 
	line-height: 30px;
}

.lancamento-texto-div {
	color: #fff; 
	margin-top: 200px;
}

.lancamento-texto-grande {
	font-weight: bold; 
	font-size: 60px;
}

.link-azul:link, .link-azul:hover, .link-azul:visited {
	color: #205DA3;
}

.link-produto:link, .link-produto:visited, .link-produto:hover{
	text-decoration: underline;
}



.login-close-btn {
	font-size: 16px;
	font-weight: bold;
}

.login-close-btn a:link, .login-close-btn a:visited {
	color: #999;
}

#login-email {
	background: url('/wp-content/themes/academy/images/1login.png') no-repeat left center;
    background-color: #fff;
    background-position-x: 5px;
    padding-left: 30px;
    margin-bottom: 5px;
}

#login-senha {
	background: url('/wp-content/themes/academy/images/1senha.png') no-repeat left center;
    background-color: #fff;
    background-position-x: 5px;
    padding-left: 30px;
}

.login-esqueceu {
	margin-right: 12px;
}

.login-esqueceu a:link, .login-esqueceu a:visited {
	color: #444;
}

.login-esqueceu a:hover {
	text-decoration: underline;
}

.login-box input[type=text], .login-box input[type=password] {
	display: inline-block;
}

.login-entrar {
	vertical-align: middle;
}

.login-facebook {
	text-align: right;
    margin-left: 100px;
}

.login-box-mobile {
	display: none;
}

.margin-tb-10 { margin: 10px !important; }
.margin-tb-20 { margin: 20px !important; }
.margin-tb-30 { margin: 30px !important; }
.margin-tb-40 { margin: 40px !important; }

.menu-mobile {
	display: none;
}

.sub-menu {
	font-size: 12px;
	padding: 20px 0 !important;
	background-color: #3483C5 !important;
	left: 1%;
}

.menu-gratis .sub-menu {
	background-color: #95EDA1 !important;
}

.menu-gratis .sub-menu a {
	color: #3483C5 !important;
}

.menu-gratis .sub-menu li:hover, .menu-gratis .sub-menu li:hover a {
	background-color: #64e479 !important;
	color: #3483C5 !important;
}

.seta-branca {
	position: absolute;
    float: left;
    width: 18px;
    left: 35%;
    top: 30px;
    z-index: 9999;
    display: none;
}

.sub-menu li.menu-item {
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 7px;
}

.sub-menu li.menu-item a {
	display: block;
}

.min-height-100 { min-height: 100px; }

.minha-conta-botoes img{
	vertical-align: sub;
}

.minha-conta-botoes a:link,
.minha-conta-botoes a:hover,
.minha-conta-botoes a:visited
{
	color: #334053;
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
}

.minha-conta-detalhe-curso-titulo {
	color: #334053;
	font-size: 20px;
	font-weight: bold;
}

.minha-conta-detalhe-curso-professores a:link,
.minha-conta-detalhe-curso-professores a:hover,
.minha-conta-detalhe-curso-professores a:visited
{
	color: #334053;
	font-size: 18px;
}

.minha-conta-detalhe-curso-rodape {
	margin-top: 65px;
}

.minha-conta-expiracao {
	font-style: italic;
	margin-right: 40px;
}

.minha-conta-forum a:link,
.minha-conta-forum a:hover,
.minha-conta-forum a:visited
{
	color: #334053;
	font-size: 16px; 
}

.minha-conta-forum img {
	 position: relative;
    top: 5px;
}

.minha-conta-baixar-tudo {
	float: right;
    margin-right: 15px;
    margin-top: 40px;
}

.minha-conta-btn {
	margin-right: 10px;
}

.mobile-show {
	display: none;
}

.numero-post {
	
}

.large-gap { height: 40px; }

.margin-20 {	margin: 20px; }
.margin-40 {	margin: 40px; }
.margin-horizontal-100 { margin: 0 100px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-45 { margin-top: 45px; }


div.mce-path {
	display: none !important;
}

.menu-gratis {
	background-color: #64e479;
}

.nova-versao {
	color: #ff0000;
	font-size: 10px;
}

.nova-versao img {
	vertical-align: bottom;
}

.novo img {
    float: left;
    position: relative;
    top: -43px;
    left: 415px;
}

.novo2 {
    width: 66px;
    vertical-align: bottom;
    margin-right: 10px;
}


.numero-post-warning {
	vertical-align: bottom;
}

/*.owl-pagination{ display:none;}*/

#owl-carousel-artigos .botao img {
	width: auto;
}

#owl-carousel-artigos .course-preview.premium-course {
	min-height: 380px !important;
    max-height: 380px !important;
}

#owl-carousel-artigos .course-image img {
	min-height: 186px !important;
	max-height: 186px !important;
}

#owl-carousel-artigos .course-header {
	min-height: 170px !important;
}

#owl-carousel-artigos .resumo {
	min-height: 90px;
}

#owl-carousel-cursos .course-preview.premium-course {
	min-height: 380px !important;
    max-height: 380px !important;
}

#owl-carousel-artigos .midia-conteudo {
	min-height: 140px;
	max-height: 140px;
}

.pacote-produto-conteudo {
    margin: 20px 0 !important;
}

.pacote-produto-titulo {
    padding: 16px;
    background-color: #87C9E3;
    border-radius: 20px;
    margin: 20px 0;
    color: #15266B;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.pag-destaque {
    font-size: 16px;
    margin-bottom: 40px !important;
    color: #2E699E;
}

.paginacao {
	margin: 20px 0;
}

.paginacao .active {
	width: 30px;
    background-color: #ccc;
    text-align: center;
    padding: 5px;
    color: #111;
    border-radius: 3px;
}

.paginacao a:hover, .paginacao a:link, .paginacao a:visited {
    width: 30px;
    background-color: #122659;
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

.painel-coaching-titulo {
	font-size: 24px;
	font-weight: bold;
}

.painel-coaching-texto {
	font-size: 14px;
	font-weight: bold;
}

.payment_box {
	background-color: #fff !important;
}

#payment_method_pagseguro, #payment label[for=payment_method_pagseguro],
#payment .payment-listing, #payment div.payment_box::before{
	visibility: hidden;
	position: absolute;
}

#pagseguro-card-holder-name {
	border-width: 2px;
    border-style: inset;
}

#pagseguro-card-installments {
	border-width: 2px;
    border-style: inset;
    border-color: #c7c1c6;
    border-top-color: #bbb3b9;
    min-height: 45px;
}

.parceiros-box {
	background-color: #F6F8EB;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 30px;
}

.parceiros-box-botao {
	background-color: #79C257;
	color: #fff;
	padding: 5px 20px;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

.parceiros-box-botao:hover, .parceiros-box-botao:visited {
	color: #fff;
}

.parceiros-box-header, .parceiros-box-footer {
	
	text-align: center;
}

.parceiros-box-header {
	padding: 10px 0;
	min-height: 60px;
	max-height: 60px;
	border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.parceiros-box-header img {
	max-height: 60px;
}

.parceiros-box-footer {
	padding: 20px 0;
	border-top: 1px solid #ddd;
}

.parceiros-box-texto {
	min-height: 170px;
	max-height: 170px;
}

.parceiros-box-texto p {
	text-align: left !important;
}

.parceiros-header {
	text-align: center;
}
.parceiros-header h1, .parceiros-header h2 {
	color: #0A67A9;
}

.parceiros-header h1 {
	font-size: 24px;
	margin: 15px 0;
}

.parceiros-header h2 {
	font-size: 22px;
	font-weight: bold;
	margin: 30px 0;
}

#pagseguro-payment-methods {
    border-bottom: 1px solid #bbb;
}

#pagseguro-payment-methods li {
	border-bottom: 0 !important;
}

#pagseguro-payment-methods li.active {
    position: relative;
    bottom: -2px;
    background-color: white;
}

#place_order {
	visibility: hidden;
}

.pesquisa-view {
	text-align: right;
}

.pesquisa-view img {
	width: 50px;
    margin-top: 10px;
}

.pesquisa .botao-verde:link, .pesquisa .botao-verde:visited, .pesquisa .botao-azul:link, .pesquisa .botao-azul:visited {
	color: #fff;
	border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}

.pesquisa input, .pesquisa select {
	width: 100% !important;
}

.pesquisa input {
	line-height: 20px;
}

.pesquisa-botoes {
	text-align: right;
	margin-top: 15px;
}

.pesquisa .row .row {
	padding: 0;
}

.pesquisa-autores {
	margin: 20px 0;
}

.pesquisa-a-partir {
	font-size: 12px;
	font-weight: normal;	
}

.pesquisa-parcelado small{
	font-size: 12px;
}

.pesquisa-parcelado {
	font-size: 16px;
}

.pesquisa-box {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 20px;
}

.pesquisa-box-grid .botao {
	display: block;
	margin: 5px;
	text-align: center;
}

.pesquisa-box-grid .pesquisa-botoes {
	margin-top: 0;
}

.pesquisa-box-grid .pesquisa-cabecalho {
	min-height: 300px;
	max-height: 300px;
	overflow: hidden;
}

.pesquisa-box-grid .pesquisa-rodape {
	min-height: 126px;
	max-height: 126px;
}

.pesquisa-box-grid .pesquisa-sem-juros {
	display: block;
    margin: 10px 0;
}

.pesquisa-cabecalho, .pesquisa-rodape {
	padding: 20px;
}

.pesquisa-cabecalho a:link, .pesquisa-cabecalho a:visited, .pesquisa-cabecalho {
	color: #000;
}

.pesquisa-cabecalho a:hover {
	text-decoration: underline;
}

.pesquisa-cabecalho-pacote {
	background-color: #e2e9c8;
}

.pesquisa-rodape {
    background-color: #f3f3f3;
}

.pesquisa-preco {
	color: #0A67A9;
	font-size: 24px;
	font-weight: bold;
}

.pesquisa-preco del{
	color: #999;
	font-size: 18px;
}

.pesquisa-resultado {
	margin: 30px 0;
}

.pesquisa-resultado p {
	text-align: left !important;
}

.pesquisa-titulo {
	font-size: 20px;
	font-weight: bold;
}

.planejamento-estudos {
	background-image: url(/wp-content/themes/academy/images/fundo-metas.png);
	min-height: 427px;
    left: -30px;
    position: relative;
}

.planejamento-estudos-texto {
	padding-top: 20px;
    padding-left: 20px;
}

.planejamento-estudos-texto2 {
    padding-left: 20px;
}

.planejamento-estudos-imagem {
	text-align: center;
    padding-top: 30px;
}

.pos-edital {
	background-image: url(/wp-content/themes/academy/images/pos-edital.png);
	min-height: 338px;
	position: relative;
	right: -31px;
}

.pos-edital-texto {
	margin: 10px 20px;	
}

.pos-edital-titulo {
	text-align: center;
	margin-top: 20px;	
}

.professor-social {
	margin: 0 3px;
}

.recuo-30 {
	position: relative;
	left: -30px;	
}

#salvar-perfil-submit {
	cursor: pointer;
}

#search, #search-cursos {
	width: 100%;
    font-size: 18px;
}

.section_head_img {
    background: url(/wp-content/themes/academy/images/bandeira-coaching.png) no-repeat top left / 100% transparent;
}

.section_head_img img{
	width: 64px;
}

.site-header {
	padding: 0 !important;
}

.site-wrap {
	height: 175px !important;
}

.site-footer {
	position: inherit !important;
}

.slicknav_menu {
	padding: 0 5px !important;
}

.slicknav_btn {
	display: none !important;
}

.slicknav_menu {
	background-color: #122659 !important;
}

.slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {
	background: none !important;
	color: #fff !important;
}

.titulo-geral {
	font-weight: bold;
}

.titulo-pagina h1 {
	font-size: 26px;
    color: #2F405E;
    margin: 40px 0;
}

div#coaching-etapa-4 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #093848;
	margin: auto !important;
}

div#coaching-etapa-4 .titulo-coaching {
	margin-left: 30px;
	margin-bottom: 50px;
}

div#coaching-etapa-4 #titulo-etapa {
	display: inline-block;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	color: #ffffff;
	background-color: #293b5f;
	width: 150px;
	margin-top: 10px;
	padding: 5px 10px;
}

div#coaching-etapa-4 #informacao {
	display: inline-block;
	/*width: 500px;*/
}

div#coaching-etapa-4 p {
	position: relative;
	top: 0px;
	margin: 0px;
}

div#coaching-etapa-4 div#passos {
	width: 1200px;
	padding: 0px;	
	margin: 0px auto 120px auto;
}

div#coaching-etapa-4 ul {
	list-style: none;
	display: block;
}

div#coaching-etapa-4 li {
}

div#coaching-etapa-4 li div {
	text-align: right;
	line-height: 33px;
}

/*div#coaching-etapa-4 div#etapa-1 {
	margin-right: 50px;
	vertical-align: text-top;
	display: inline-block;
	width: 330px;
	height: 130px;
	padding: 0px;
}*/

div#etapa-1 div#img-1 {
	background: url("/wp-content/themes/academy/images/coaching/2497148212-download.png") no-repeat;
	width: 300px;
}

div#etapa-1 span {
	
}

li#download-avaliacao div {
	background: url("/wp-content/themes/academy/images/coaching/3692160744-download-avaliacao.png") no-repeat;
	width: 235px;
	height: 35px;
}

li#download-disponibilidade div {
	background: url("/wp-content/themes/academy/images/coaching/1337939442-download-disponibilidade.png") no-repeat;
	width: 235px;
	height: 35px;
}

/*div#coaching-etapa-4 div#etapa-2 {
	vertical-align: text-top;
	display: inline-block;
	width: 640px;
	height: 130px;
}*/

div#etapa-2 div#img-2 {
	background: url("/wp-content/themes/academy/images/coaching/1319570270-upload.png") no-repeat;
	width: 430px;
}

div#etapa-2 li {
	margin-bottom: 0px;
	height: 40px;
}

div#etapa-2 li div {
	display: inline-block;
	position: relative;
	width: 234px;
	height: 35px;
	overflow: hidden;
}

div#etapa-2 li.li-upload {
	
}

div#etapa-2 input.upload {
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

div#etapa-2 input.upload-text {
	background-color: #ffffff;
	color: #83ba76;
	text-align: center;
	border: medium solid #83ba76;
	position: relative;
	bottom: 13px;
	display: inline-block;
	height: 25px;
	width: 180px;
}

li#upload-avaliacao div {
	background: url("/wp-content/themes/academy/images/coaching/1274163023-upload-avaliacao.png") no-repeat;
}

li#upload-disponibilidade div {
	background: url("/wp-content/themes/academy/images/coaching/3974246140-upload-disponibiliade.png") no-repeat;
}

div#etapa-2 input#enviar {
	background: url("/wp-content/themes/academy/images/bt_contact.png") no-repeat;
	position: relative;
	display: block;
	float: right;
	bottom: 150px;
	right: 80px;
	width: 100px;
	height: 35px;
}

#sem-forum {
	background: url("/wp-content/themes/academy/images/adquira-aqui-fundo.jpg") no-repeat;
	width: 100%;
    min-height: 569px;
    background-size: cover;
}

.shop_table small {
	display: none;
}

.sub_number {
	padding-right: 20px;
	padding-left: 20px;
	border-left: 2px solid #D5E8F6;
	width: 22px;
    text-align: center;
}

.text-align-center {text-align: center}

.text-align-right {
	text-align: right;
}

.input_textarea {
	border-color: #D0D2D4 #BBBDBF #A6A9AB !important;
    border-radius: 0 !important;
    border-style: solid !important;
    border-width: 2px 1px !important;
    line-height: 25px !important;
    padding: 0 1% !important;
    width: 98% !important;
}

.secao-barra-branca {
	color: #0C67AE;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px !important;
}

.secao-barra-branca img {
	vertical-align: sub;
}


.botao-verde:link, .botao-verde:visited {
	background-color: #7AC159;
	padding: 5px 20px;
    border-radius: 15px;
}

.botao-azul:link, .botao-azul:visited {
	background-color: #0A67AA;
	padding: 5px 20px;
    border-radius: 15px;
}







.site-logo img {
	width: 80%;
	margin: 10px;
}



.sq-graficos img {
	height: 150px;
    margin-bottom: 20px;
}

.sq-margin {
	margin: 50px 0;
}



.sq-preco {
    margin-top: -45px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.sq-preco span {
	font-size: 12px;
}

.sq-line-hack {
	position: relative;
	top: 12px;
}



.ss-botoes-filtro {
	text-align: right;
    margin-top: 20px;
}

.fundo-verde-claro img, .fundo-verde-escuro img {
	height: 23px;
}


.fundo-cinza-claro {
	background-color: #F5F5F5;
}

.fundo-cinza-escuro {
	background-color: #E6E7E9;
}

.fundo-vermelho-claro {
	background-color: #F8AC92;
}

.fundo-vermelho-escuro {
	background-color: #F5876C;
}

.fundo-verde-claro {
	background-color: #9ACE83;
}

.fundo-verde-escuro {
	background-color: #79C257;
}

.produtos-simulados .woocommerce-result-count {
	width: 100%;
}

.pagina-professor h1 {
	color: #1A719E;
    font-size: 36px;
    margin-top: 20px;
}

.pagina-professor h3 {
	color: #1A719E;
    font-size: 24px;
}

.redes-sociais {
	margin: 10px 0;
}

.redes-sociais img {
	max-height: 30px;
}

.remodal h1 {
	margin-bottom: 20px;
}

.remodal-close {
	right: 0;
	left: auto !important;
}

.relatorio-destaque {
	font-weight: bold !important;
}

.resultados-cabecalho {
	margin: 30px 0 10px;
	text-align: center;
}

.resultados-titulo {
	color: #175F9B;
	font-weight: bold;
	font-size: 20px;
}

.resultados-barra {
	text-align: center;
    border-bottom: 2px solid #ccc;
    margin: 20px auto;
}

.resultados-barra img {
	bottom: -15px;
    position: relative;
}

.resultados-descricao {

}

.resultados-top {
	margin: 10px 0;
	color: #175F9B;
}

.resultados-resultados {
	margin: 20px 0 40px;
}

.resultados-box {
	text-align: center;
	margin: 20px 0 !important;
}

.tabela-pedido-detalhe {
	margin-top: 20px;
}

.tabela-pedido-detalhe, .tabela-pedido-detalhe tr {
	border: 0;
}

.tabela-pedido-detalhe td {
	background-color: #E7F4FA; 
	border: 5px solid #fff;
}

.tabela-pedido-detalhe-nome {
	color: #0670A8;
    font-size: 18px;
    width: 150px;
    padding: 30px;
    font-weight: bold;
}

.tabela-pedido-detalhe-disponivel {
	color: #79C258;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	width: 200px;
}

.tabela-pedido-detalhe-nao-disponivel {
	color: #0670A8;
	font-size: 14px;
	text-align: center;
	width: 200px;
}

.tabela-pedido-detalhe-botoes {
	width: 200px;
	background-color: #fff !important;
	vertical-align: top;
}

.tabela-pedido-detalhe-botoes img {
	max-width: none !important;
}

.tabela-pedidos, .tabela-pedidos td, .tabela-pedidos th {
	border: 0;
}

.tabela-pedidos th {
	color: #0670A8;
	font-size: 18px;
}

.tabela-pedidos tr {
	border-top: 15px solid #fff;
}

.tabela-pedidos div {
	/* min-height: 50px; */	
}

.tabela-pedidos-tr-bg-azul {
	background-color: #E7F4FA; 
	color: #334053;
	font-family: calibri;
    font-size: 18px;
}

.tabela-pedidos-tr-bg-azul a:hover {
	text-decoration: underline;
}

.tabela-pedidos-tr-bg-azul td {
	padding: 25px 10px;
}

.tabela-pedidos-tr-bg-azul a:link, 
.tabela-pedidos-tr-bg-azul a:hover, 
.tabela-pedidos-tr-bg-azul a:visited 
{
	color: #334053;
} 

.tachado {
	text-decoration: line-through;
}

.texto-azul {
	color: #0A67A9 !important;
}

.texto-branco {
	color: #fff !important;
}

.texto-branco p{
	color: #fff !important;
}

.texto-preto-coaching {
	color: #000 !important;
}

.texto-preto-coaching a:link, .texto-preto-coaching a:visited{
	color: #0F67A5 !important;
	font-weight: bold;
}

.texto-preto-coaching a:hover {
	text-decoration: underline;
}

.texto-verde {
	color: #79C258 !important;
}

.texto-titulo-grande {
	font-size: 52px;
    font-weight: bold;
    line-height: 1.3;
}

.texto-titulo-medio {
	font-size: 36px;
    font-weight: bold;
    line-height: 1.3;
}

.texto-titulo-servicos {
	font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
}

.texto-titulo-pequeno {
	font-size: 32px;
    font-weight: bold;
    line-height: 1.3;
}

.titulo-secao {
	background: #2F405E;
  	color: #FFFFFF;
  	font-size: 18px;
  	padding: 5px 0 5px 10px;
}

.titulo-secao-descricao {
	color: #2F405E;
	font-size: 14px;
}

.toast {
	width: 500px;
}

.tp-caption.big_black{
	background-color: transparent !important;
	font-size: 30px !important;
}	

.tp-bannershadow.tp-shadow2 {
	background: none !important;
}

ul.tick {
	list-style-image: url('/wp-content/themes/academy/images/tick.png');
}

.ui-datepicker-month, .ui-datepicker-year {
	display: inline;
}

.ui-datepicker-year {
	display: inline-block !important;
}

#ui-datepicker-div {
	z-index: 10000 !important;
}

.usuario-dado {
	margin: 10px 0;
}

.usuario-editar-painel {
	margin: 20px 0;
}

.usuario-editar-painel-titulo {
	text-align: center;
	font-size: 20px;
	margin: 20px 0;
}

.usuario-editar-painel-mensagem {
	text-align: center;
	font-size: 16px;
	margin: 20px 0;
}

.usuario-foto {
	margin: 20px;
	text-align: right;
}

.usuario-nome {
	font-size: 16px;
	margin-top: 20px;
}

div.concurso-sem-desconto {
	color: rgb(4,122,172);
	text-decoration: line-through;
}

.ver-mais-simulados:link,  .ver-mais-simulados:visited, .ver-mais-simulados:hover {
	line-height: 1.5;
	color: #666;
    font-size: 14px;
    font-weight: bold;
}

.woocommerce-billing-fields {
	display: none;
}


@media (max-width: 1000px) {

#bbpress-forums p.bbp-topic-meta span {
    white-space: normal;
}

.busca-professor.col-5 {
	width: 93%;
}	

.cabecalho-bemvindo {
	display: none;
}

.cabecalho-direita {
		
}

.cabecalho-faleconosco-g {
 	display: none;	
}

.cabecalho-faleconosco-p {
 	display: inline;	
}

.coaching2-modulo-esquerda {
	border-right: 0;
}

.coaching2-modulo-separador {
	display: none;
}

.coaching2-modulo-primeiro {
	margin-top: 0;
}

.coaching2-modulo-ultimo {
	display: none;
}

.coaching2-desconto-descricao {
	min-height: 80px;
	max-height: 80px;
}

.coaching2-desconto-titulo {
	font-size: 30px;
}

.coaching2-modulo-esquerda .coaching2-modulo-textos {
	margin-right: 0;
}

.coaching2-modulo-direta .coaching2-modulo-textos {
	margin-left: 0;
}

.coaching2-desconto-textos {
    margin-top: -150px;
    margin-left: 10px;
    text-align: left;
    margin-bottom: 30px;
}

.coaching2-box-periodo {
	margin-top: -140px;
}

.coaching2-cursos .concurso-celula {
	width: 100%;
}

.coch_boxex h1 {
	line-height: 1;
}

.como-funciona-links {
	line-height: 1.5;
}

.cronograma-detalhe-interno-erro-texto {
	float: none;
	border-radius: 20px 20px 0 0;
	text-align: center;
}

.cronograma-detalhe-interno-erro-comprar {
	float: none;
	border-radius: 0 0 20px 20px;
	text-align: center;
}

.partition_equipe {
	height: auto;
}

.owl-buttons {
	display: none;	
}

.owl-item {
    margin: 0px;
}

.site-logo img {
    margin-left: 50px;
}

.usuario-editar-painel .tname {
	line-height: 35px;
	text-align: left;
}

.usuario-editar-painel .row .column {
	margin: 0;
}

}

@media handheld, only screen and (max-width: 767px) {
	
	.coaching-instrucoes-container {
		margin: 100px 0 !important;
	}

	.featured-content {
		clear: both;
		margin: 0 !important;
	}

	.header-descontos {
		margin-bottom: 20px;
	}

	.header-redes {
		float: none !important;
		text-align: center;
	}

	.home_midia li.product {
		width: 100% !important;
	}

	.minha-conta-baixar-tudo {
		float: left;
	}
		
	.minha-conta-btn {
		display: block;
		margin: 5px;
	}

	/*
	.minha-conta-btn img {
		display: none;
	}
	*/

	.mobile-hide {
		display: none;
	}

	.mobile-show {
		display: block;
	}


	.mobile-show-inline-block {
		display: inline-block;
	}

	.tabela-pedido-detalhe-nome a:link, .tabela-pedido-detalhe-nome a:hover, .tabela-pedido-detalhe-nome a:visited {
		text-decoration: underline;
	}

	.tabela-pedido-detalhe-nome {
		padding: 0;
		font-size: 10px;
	}

	.tabela-pedido-detalhe-nome>div {
		margin: 5px;
		text-align: center;
	}

	.tabela-pedido-detalhe-nao-disponivel {
		width: auto;
		font-size: 11px;
	}

	.tabela-pedido-detalhe-disponivel {
		font-size: 10px;
		width: auto;
	}


}

