body.login {
  background-image: url('/wp-content/themes/academy/images/ex_aluno_fundo.jpg');
	background-size: cover;
}

.login h1 a {
  background-image: url('/wp-content/themes/academy/images/logo-246.png');
  background-size: auto;
  width: auto;
}

p#nav {
  display: none;
}

p#backtoblog {
  display: none;
}