@charset "utf-8";

.mobile-show {
	display: none;
}

@media screen and (min-width: 1001px) and (max-width: 1024px) {

.barra-secundaria {
	display: block;
	margin: 10px 0;
}

.cabecalho-direita {
    margin-top: 10px;
}

.featured-content {
	margin: 180px 0 0 0 !important;

}
.header-wrap {
	height: 142px !important;
}

.header-navigation div > ul > li a {
	font-size: 1em !important;
}

.novo-img {
    width: 40px !important;
    margin: 19px;
}

}

@media screen and (min-width: 768px) and (max-width: 1000px) {

.barra-secundaria {
	display: block;
	margin: 10px 0;
}


.mobile-show-inline-block {
	display: inline-block !important;
}

.mobile-hide {
	display: none !important;
}

.menu.mobile-show {
	display: block;
}

.simulado-product {
    width: 47% !important;
}

.slicknav_menu {
	margin-top: 0px;
}

.secao-barra-clara a:link, .secao-barra-clara a:visited {
    font-size: 12px;
    margin: 0 15px;
}

.sq-vantagem-label {
	width: 300px;
}

.tabela-pedido-detalhe-links {
	display: block !important;
}

.toolbar-menu {
	position: relative;
    bottom: 5px;
}

}

@media handheld, only screen and (max-width: 768px) {

a.anchor {
    top: -20px;	
}

.assinatura-bar {
	height: auto;
}

.barra-fixa {
	padding: 0;
	height: auto;
}

.barra-secundaria {
	display: block;
	margin: 10px 0;
}

.box-amarelo {
	margin-left: 0px;
}

.box-azul, .box-verde {
	margin: 0 0 10px 0;
}

.box-azul-o {
	padding: 0;
}

.box-cinza {
    margin-bottom: 10px;
}

.box-flutuante {
	top: 300px;
}

.cabecalho-redes {
	margin: 20px 0;
}

#coaching {
	width: 100% !important;
}

.coaching-inscrevase {
	top: 340px;
}

.coaching-instrucoes {
	width: 100% !important;
}

.coaching-inscricao-img {
	height: auto;
}

.coaching-inscricao-seta {
	display:none;
}

.coaching-posicao-1 img {
    width: initial;
}

.comprar-novamente {
   margin-top: 30px;
   text-align: center !important;
}

.curso-aula-icones {
	margin-top: 10px;
}

.descontos-pre {
	min-height: auto;
}

.detalhamento-coaching .barra {
    font-size: 22px;
}

.esqueci a:link, .esqueci a:hover, .esqueci a:visited  {
	color: #fff !important;
	font-weight: bold;
}



div#fase-1 {
	background: url("images/coaching/3977590809-sem-seta.png") no-repeat !important;
}

div#fase-2 {
	background: url("images/coaching/3977590809-sem-seta.png") no-repeat !important;
}

div#fase-3 {
	background: url("images/coaching/3977590809-sem-seta.png") no-repeat !important;
}

div#fase-4 {
	background: url("images/coaching/3977590809-sem-seta.png") no-repeat !important;
}

div#fase-5 {
	background: url("images/coaching/3977590809-sem-seta.png") no-repeat !important;
}

div#fase-6 {
	background: url("images/coaching/3977590809-sem-seta.png") no-repeat !important;
}

div#fase-1-atual {
	background: url("images/coaching/aluno-ativo-2.png") no-repeat !important;
}

div#fase-2-atual {
	background: url("images/coaching/aluno-ativo-2.png") no-repeat !important;
}

div#fase-3-atual {
	background: url("images/coaching/aluno-ativo-2.png") no-repeat !important;
}

div#fase-4-atual {
	background: url("images/coaching/aluno-ativo-2.png") no-repeat !important;
}

div#fase-5-atual {
	background: url("images/coaching/aluno-ativo-2.png") no-repeat !important;
}

div#fase-6-atual {
	background: url("images/coaching/aluno-ativo-2.png") no-repeat !important;
}

#etapa-2 input#enviar {
	position: initial !important;
	float: none !important;
}

#etapa-2 input.upload-text {
	display: block !important;
	position: initial !important;
	margin-bottom: 10px;
}

#etapa-2 li {
	height: auto !important;
}

#etapa-2 div#img-2 {
	width: 300px !important;
    height: auto !important;
    position: relative !important;
    padding-left: 35px !important;
    line-height: 1.5 !important;
    text-align: left !important;
}

.fale-conosco-orientacao-texto {
	padding: 5px;
}

.feature-content {
	margin: 0px;
}

.fixed {
	position: initial;
}


.home_midia .resumo {
	overflow: hidden;
}

#lista-fases {
	float: none !important;
}

#lista-fases ul li {
	display: block !important;
}

.login-box-mobile {
    border: 1px solid #E6E7E9;
    z-index: 999;
    color: #000;
    background-color: #E6E7E9;
    padding: 10px;
    display: none;
    text-align: right;
    position: relative;
    margin-top: 72px;
}

.login-box-mobile img {
	height: 34px;
}

.login-box-mobile input[type=text], .login-box-mobile input[type=password] {
	width: 91%;
}

.main-content p {
    word-wrap: break-word;
}

.mobile-show-inline-block {
	display: inline-block !important;
}

.mobile-hide {
	display: none !important;
}

.mobile-show {
	display: block !important;
}

#nao-inscrito {
	float: none !important;
}

#owl-carousel-artigos, #owl-carousel-cursos {
	margin-left: 10px;
}

.simulado-product {
    margin:  0 0 2.992em !important;
}

.sq-vantagem-label {
	width: 193px;
}

.site-wrap {
	height: auto !important;
}



.toolbar-carrinho {
	vertical-align: super;
	text-align: left;
	width: 70%;
	display: inline-block;
}

}

@media handheld, only screen and (max-width: 640px) {

#owl-carousel-artigos .course-preview.premium-course {
    min-height: auto !important;
    max-height: initial !important;
}




#owl-carousel-cursos .course-preview.premium-course {
    min-height: auto !important;
    max-height: initial !important;
}

#owl-carousel-cursos .course-preview .course-header {
	box-shadow: none;
}

#owl-carousel-cursos .course-meta {
	min-height: 95px;
    max-height: 95px;
}

#owl-carousel-artigos .midia-conteudo {
    min-height: 175px;
    max-height: 175px;
}

#owl-carousel-artigos .course-preview .course-header {
    max-height: initial;
    padding: 0.5em 15px 5px 15px;
}

}