.toast {
	width: 450px!important;
	min-height: 100px;
}

.toast-title {
	/*font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
    padding-bottom: 10px;*/
    display: none;
}

.toast-message img {
	max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1em auto;
    text-align: center;
}

.toast-info {
    color: #000;
}

.toast-close-button {
	color: #333;
}

#toast-container>div {
	padding: 15px;
}

#toast-container>.toast-info {
    background-image: none !important;
    color: #333;
    opacity: 1;
}

@media screen and (max-width: 640px) {

.toast {
	width: 290px!important;
	min-height: 100px;
}

}