@media only screen and (max-width: 720px) {
	
.mobile-hide {
	display: none;
}

.lancamento-sq-capa {
	background-size: cover;
	padding: 10px;
	background-position-x: -180px;
}

.lancamento-texto-div {
	margin-top: 20px;
}

.lancamento-texto-grande { 
	font-size: 26px;
}

.lancamento-sq-tabela input, .lancamento-sq-tabela select {
    width: 80%;
}

.full-width {
	width: 100%;
	margin: 10px;
}

#btn-lancamento img {
	width: 80%;
}

.lancamento-sq-rodape {
	padding: 10px;
}

.lancamento-sq-rodape .col-8 {
	width: 95%;
}

.lancamento-sq-tabela-1 .col-4 {
	width: 20%;
}

.lancamento-sq-tabela-1  {
	width: 90%;
}

}    