/*
Author: André Gervásio
Email: andre@keydea.com.br
File: custom stylesheet
*/
/*======================================
01. Geral
02. Backgrounds
03. Textos
04. Links
05. Botões
=======================================*/

/* =============
   01. Geral
============= */

* {
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Roboto',sans-serif!important;
   
}

a, a:hover, a:link, a:visited {
	color: #5ea5d7;
}

/* =============
   02. Backgrounds
============= */

.bg-azul-denim {
	background-color: #2368AD;
}

.bg-cinza-inverno {
	background-color: #E6E7E9;
}

.bg-verde-menta {
	background-color: #64e479;
}

.bg-vermelhao {
	background-color: #e64f37;
}


/* =============
   03. Textos
============= */

.text-azul-denim {
	color: #2368AD;
}

.text-cinza-escuro {
	color: #919191;
}

.text-verde-menta {
	color: #64e479;
}

.text-vermelhao {
	color: #e64f37;
}

/* =============
   04. Links
============= */
.link-branco:link, .link-branco:visited, .link-branco:hover {
	color: white;
}

/* =============
   05. Botões
============= */
.btn-danger:link, .btn-danger:visited, .btn-danger:hover {
	color: white;
}

a.btn-primary:link, a.btn-primary:visited, a.btn-primary:hover {
	color: white;
}

.u-btn-facebook:link, .u-btn-facebook:visited, .u-btn-facebook:hover {
	color: white;
}

/* =============
   @todo Revisar daqui para baixo ==============
============= */

.quatorze-dias {
	background-image: url('/wp-content/themes/academy/core/resources/img/layout/14dias.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 83px;
	width: 60px;
}

.assinatura .bg-gray {

    background-color: #d1e3ee !important;

}

#payment > ul > li.wc_payment_method.payment_method_pagarme-banking-ticket > div > p {
	display:none;
}

.tab-v1 ul {
	border-bottom: 2px solid #1a719e;
}

.tab-v1 li {
	background-color: #fff;
	padding: 5px 40px;
}

.tab-v1 li a:link, .tab-v1 li a:hover, .tab-v1 li a:visited {
	color: #1a719e;
	font-weight: bold;
}

.tab-v1 li.active {
	background-color: #1a719e;
	padding: 5px 40px;
}

.tab-v1 li.active a:link, .tab-v1 li.active a:hover, .tab-v1 li.active a:visited {
	color: #fff;
	font-weight: bold;
}

.lp-aslan-titulo {
	min-height: 131px;
}

.lp-aslan-titulo .h2 {
	line-height: 1;
}

.text-azulescuro {
	color: #0060ad!important;
}
.bg-orange {
	background-color: #fbb255!important
}
.botao-flutuante-fale-conosco input{
	position: fixed!important;
    z-index: 1200;
    top: 250px;
    right: 5px;
}

.btn-relatorio-mes {
	padding: 0 10px;
}

.btn-download-agendado {
    background: red;
    color: white;
    padding: 6px;
}

.btn-download-agendado-bar {
	padding: 9px 12px 8px;
}

.btn-download-agendado i {
    font-size: 16px;
}

.coaching-link:hover {
	text-decoration:none;
}

.cursos-online-pagination .page-numbers {
	color: #1a719e !important;
}

.cursos-online-pagination .current {
	color: rgb(85, 85, 85) !important;
}

.fb_iframe_widget_fluid {
	display: inline-block !important;
}

.h1-login h1 {
    display: block;
    font-size: 26px!important;
    font-family: 'Raleway' , serif!important;
    color: #144b9b!important;    
    font-weight: 500!important;
    margin: 0;
    padding-bottom: 5px;    
}
.btn-white {
	color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.text-blue a:link, .text-blue a:visited {
	color: #1a719e!important;
}

.frm-filtro-nf {
	border: 1px solid #ddd; 
	padding: 20px; 
	border-radius: 3px;
}

.table-relatorio-nowrap {
	white-space: nowrap;
}

.box-amarelo-img img {
	width: 100%;
}
.img-logo {
	margin-left: -12px!important;
}
.u-btn-secondary{
	color: #fff!important;
  	background-color: #5A6268!important;
}
.u-btn-secondary:hover{
	color: #fff!important;
  	background-color: #656E75!important;
}
.simulado-h-footer del span {
	font-size: 14pt;
}
div.concurso-price {
	margin-top: -4px;
}
.box-aula-demo-none {
	display: none!important;
}
.logo-index-scroll {
    z-index: 1001;
    position: fixed;
    top: 0;
    transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.simulado-h-footer {
	height: 110px;
}
.navbar-index-scroll {
    z-index: 1000;
    position: fixed;
    top: 63px;
    transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
#sem-forum {
	background: url("/wp-content/themes/academy/images/adquira-aqui-fundo.jpg") no-repeat;
	width: 100%;
    min-height: 500px;
    background-size: cover;
    margin-top: -40px;
}
.col-cursos-grade {
	height: 10%!important;
	width: 15%!important;
	background-color: #ebf6fa;
}
.h-grade-cursos {
	height: 110px;
}
.h-grade-cursos-m {
	height: 90px;
}
#nav-todos-cursos .posicao-nav {
	position: relative;
	top: -212px;
	left: -14px;
}
.posicao-nav {
	position: relative;
	top: -222px;
	left: 0px;
}
.posicao-material-nav {
	position: relative;
	top: -90px;
	left: 0px;
}
.p-bread {
	margin-left: 40%;
}
ul.products li{
    display: inline; /* centraliza na horizontal */
    margin: 0 5px;
}
.cursos-online-h-top {
	height: 210px;
}
.cursos-online-h-body {
	height: 115px;
}
.p-result-count {
	position: relative;
	top: 82px;
}
h1 {	
	font-family: 'Poppins',serif!important;
	font-size: 40px!important;
	font-weight: bold;
	text-align: center!important;
	color: #555555!important;
}
/* A */

.rev_slider_wrapper {
	padding: 0px!important;
}

a.anchor {
	display: block;
    position: relative;
    top: -155px;
    visibility: hidden;
}
.text-editando h1{
	font-size: 12pt!important;
	font-family: roboto!important;
	font-weight: normal!important;
}
.concurso-link a {	
	outline:none;
	color:#5ea5d7;
	text-decoration:none;
	line-height:inherit;
}
.meta_head_produto_expirado {
	background:url("/wp-content/themes/academy/images/expirado-fundo.jpg") no-repeat;
	width: 100%;
	height: 560px;
	background-size: cover;
}

.concurso-link a:focus, .concurso-link a:hover {
	outline:none;
	color:#5ea5d7;
}
.tamanho iframe {
	width: 100%!important;
}
.bbp-pagination {
	float: none!important;
}
.bbp-pagination-count {
	float: none!important;
}

.concurso-link ul {
	list-style-position: inside;
}
div#etapa-2 input.upload-text {
    background-color: #ffffff;
    color: #83ba76;
    text-align: center;
    border: medium solid #83ba76;
    position: relative;
    top: -32px;
    left: 236px;
    display: inline-block;
    height: 25px;
    width: 180px;
}
div#etapa-2 input.upload {
    position: relative;
    top: 0;
    left: 60px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
div#coaching-etapa-4 ul {
    list-style: none;
    display: block;
}
.destaque .bg-gray  {
	background-color: #eed4d1!important;
  
}
.pacote .bg-gray  {
	background-color: #e2e9c8!important;
}


.address {
font-family: calibri;
line-height: 24px;
text-transform: uppercase;
color: white;
}

.address a {	
	color: white;
	text-decoration: none;
}

/* B */
.barra-fixa-assinatura {
	position:fixed;
	top:251px;
	right:0;
	left:0;
	z-index:1018;
}

.barra-fixa-pesquisa {
	position:fixed;
	top:-15px;
	right:0;
	left:0;
	z-index:1019;
}

.barra-fixa-menu {
	position:fixed;
	top:150px;
	right:0;
	left:0;
	z-index:1020;
}
#rev_slider_1_1_wrapper img {
	width: 100%!important;
}

div#acesso-restrito {
    background: url(/wp-content/themes/academy/images/acesso-restrito-fundo.jpg);
    text-align: center;
    width: 100%;
    height: 530px;
    padding: 0;
    background-size: cover;
}
.img-logo-scroll {
	width: 208px!important;
	height: 56px!important;
	margin-top: 0!important;
}
.pd-scroll {
	padding: 4px 12px!important;
}
.header-pesquisa-lupa-scroll {
    width: 40px!important;
    height: 35px!important;
}
.breadcrumb {
	margin-top: 10px;
	display: inline-flex!important;
	margin-bottom: 0!important;
}

.breadcrumb a {
	margin-left: 5px;
	margin-right: 5px;
}
.navbar-mobile-scroll {
	top: -2px!important;
	z-index: 99999;
	position: fixed;
	padding-bottom: 1px!important;
	transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
a.img-resolver img {
	width: 180px!important;
	height: 35px!important;
	padding-top: -1px!important;
}
.margin-preço {
	position: absolute;
	bottom: 4px;
	width: 150px;
}
.woocommerce ul.products li.product a img {
    width: 100%!important;
    height: 150px!important;    
}
.woocommerce ul.products li#cursos-onlines a img {
    width: 100%!important;
    height: 100%!important;    
}


.woocommerce ul#concursos li.product {
	margin: 0 6.3% 2.992em 4%!important;
}

.woocommerce ul#midias li.product {
	margin: 0 6.3% 2.992em 4%!important;
}

.busca-professor {
	margin: 20px 0 10px;
}

.busca-professor input {
	font-size: 16px;
	width: 100%;
}

.box-azul {
	background-color: #1A719E;
	color: #fff;
	padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.box-azul a:link, .box-azul a:visited {
	color: #fff;
	text-decoration: none;
}

.produto-conteudo li {
	margin-left: 15px;
}

.box-amarelo {
	background-color: #DBA83A;
	.paginacao-select{
		border-color: #0a67a9;
	}
	color: #fff;
	padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.barra-amarela-v2 {
	background-color: #DBA83A;
	color: #fff;
	padding: 10px;
	.paginacao-select{
		border-color: #0a67a9;
	}
    border-radius: 10px;
    width: 100%;  
}
.img-result-p {
	position: relative;
	top: 12px;
}
.box-amarelo-light {
	background-color: #f6f8eb;	
}
.border-width-2 {
	border-width: 2px!important
}
.border-width-3 {
	border-width: 3px!important
}
.paginacao-select{
	border-color: #0a67a9;
}
.
.paginacao-select{
	border-color: #0a67a9;
}

.paginacao-select{
	border-color: #0a67a9;
}
}
.paginacao-select{
	border-color: #0a67a9;
}
.
.paginacao-select{
	border-color: #0a67a9;
}
.paginacao-select{
	border-color: #0a67a9;
}

.paginacao-select{
	border-color: #0a67a9;
}

.paginacao-select{
	border-color: #0a67a9;
}
.position-upload-avaliacao {
	position: relative;
	top: -19px;
	left: 240px;
}
.position-upload-disponibilidade {
	position: relative;
	top: -19px;
	left: 240px;
}
.gallery-height {
	height: 75px;
.paginacao-select{
	border-color: #0a67a9;
}
}

.box-amarelo-ligh
.paginacao-select{
	border-color: #0a67a9;
}
	
.paginacao-select{
	border-color: #0a67a9;
}


.box-img-social img {
	width: 30px!important;
	height: 30px!important;
}
.bg-img-size  {
	height: 176px!important;
}
.bg-img-size-curso  {
	height: 230px!important;
}

.bg-img-size img {
	width: 100%!important;
	height: 100%!important;
	.paginacao-select{
		border-color: #0a67a9;
	}
}
.bg-img-size-curso img {
	width: 100%!important;
	height: 100%!important;
}

ins span.woocommerce-Price-amount.amount {
	text-decoration: none!important;
}
.box-cursos {
	height: 392px!important;
}
.box-cursos-professor {
	height: 345px;
}


.box-cursos-online {
	height: 390px!important;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)!important;
}

.box-cursos-online img {
	width: 100%!important;
	height: 100%!important;
}
.cart-empty {
	text-align: center!important;
	font-size: 10pt!important;
}

.return-to-shop {
	text-align: center!important;
	font-size: 10pt!important;
}

.box-artigos {
	height: 395px!important;
}

.todos-artigos {
	line-height: 355px; 
	background: #DBA83A !important; 
}
.todos-artigos a:link, .todos-artigos a:visited {
	font-size: 24px; 
	color: #fff;
	font-weight: bold;
}
.todos-produtos {
	line-height: 315px; 
	background: #1A719E !important; 
}
.todos-produtos a:link, .todos-produtos a:visited {
	font-size: 24px; 
	color: #fff;
	font-weight: bold;
}
.box-home-midia {
	height: 410px!important;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)!important;
	width: 120%!important;
}
.box-home-concursos {
	height: 250px!important;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)!important;
	width: 120%!important;
}
.edital-proximo {
	background-color: #F3BB32 !important;
}

.edital-divulgado{
	background-color: #F3BB32 !important;
}

.midia-noticia-blue  {
	background-color: #0A67AA !important;	
	width: 90px!important;
}
.pic_outter img {
	width: 100%!important;
}
.ativo-fundo {
    background-image: url(/wp-content/themes/academy/images/pagina-aluno-coaching.jpg);
    background-size: cover;
}
.midia-artigo-yellow {
	background-color: #F3BB32 !important;	
	width: 90px!important;
}
.midia-artigo-yellow-2 {
	background-color: #F3BB32 !important;	
}
.midia-video-red  {
	background-color: #EF3238 !important;
	width: 90px!important;	
}


.leia-mais-absolute {
	position: absolute;
	bottom: 0;	
}
.box-verde {
	background-color: #64e479;
	border-radius: 10px;
	color: #fff;
    padding: 10px;
    width: 100%;
}
.pt-pesquisa{
	padding-top: 10px;
}
.coaching-resultado {
    background-image: url(/wp-content/themes/academy/images/painel-coaching-selecao-resultado.png);
    height: 223px;
    width: 170px;
}

.posicao-nav-p {
	position: relative;
	top: -242px;
	left: 0px;
}
.h-rodape-grid {
	height: 100px!important;
}
.acesso-negado {
    background: url(/wp-content/themes/academy/images/acesso-negado.jpg) no-repeat;
    width: 100%;
    min-height: 569px;
    background-size: cover; 
}
.box-amarelo a:link, .box-amarelo a:visited {
	color: #fff;
	text-decoration: none;
}

.barra-azul-v2 {
	background-color: #1A719E;
	color: #fff;
	padding: 10px;
    border-radius: 10px;
    width: 100%;   
}



.btn-pagina-professor {
    font-weight: bold;
    font-size: 16px;
}
.contarativo-height-1 {
	height: 145px;
}
.contarativo-height-2 {
	height: 85px;
}
.contarativo-height-3 {
	height: 155px;
}
.text-perguntas h1 {
	font-size: 16pt!important;
}
.remodal-close {
    right: 0;
    left: auto !important;
}
.woocommerce ul#concursos li.first {
	clear: none!important;
}
.faq-list h2:before {
    content: " ";
    background: url(/wp-content/themes/academy/images/coaching2-seta-abrir.png) no-repeat;
    background-size: 20px 20px;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
.faq-answer {
	font-size: 10pt!important;
	text-align: justify!important;
}
.faq-answer ul {
    margin-bottom: 17px;
    list-style-position: inside;
    list-style-type: disc;
    line-height: 1.6;
}
#faq-block a {
	text-decoration: none!important;
}

#faq-block .single-faq .faq-question, #faq-block .single-faq .faq-question a {
	font-weight: 100 !important;
    font-family: 'Roboto',sans-serif!important;
}

.bg-green{
	background-color: #64e479!important;
}

.bg-darkgreen{
	background-color: #3e8349!important;
}

.bg-greeeeeeen{
	background-color: #64e479!important;
}
.rounded-2 {
	border-radius: 5px!important;
}
.rounded-3 {
	border-radius: 8px!important;
}
.rounded-4 {
	border-radius: 10px!important;
}
.rounded-5 {
	border-radius: 15px!important;
}
.rounded-6 {
	border-radius: 25px!important;
}
.padding-area {
	margin-left: -10px;
}
.margin-item-topbar-cadastro {
	margin-left: 2px!important;
	margin-right: 2px!important;
}
.item-carrinho {
	position: relative;
	top: -11px;
	left: -30%;
}
.item-carrinho-nav {
	position: relative;
	/*top: -7px;
	left: -19.3%;*/
	top: -11px;
	left: -29.3%;
}
#item-carrinho-scrol {
	position: relative!important;
	top: -7px!important;
	left: -28%!important;
}
 .bg-gray {
 	background-color: #f1f1f1!important;
 }
  .bg-darkgray {
 	background-color: #d2d3d5!important;
 }
 .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.woocommerce-error {
    width: 100%!important;
}
.pedido-concluido {
    background: url(/wp-content/themes/academy/images/agradecimento-exponencial.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}

.table-bordered td {	
	font-size: 10pt!important;
	line-height: 1.3!important;
}

.table-bordered div {
	text-align: right!important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.bg-img-desc-1 {
	background-size: 310px;
	background-repeat: no-repeat;
	background-image: url('/wp-content/themes/academy/images/coaching2-desconto-box100.png');
}
.bg-img-desc-2 {
	background-size: 310px;
	background-repeat: no-repeat;
	background-image: url('/wp-content/themes/academy/images/coaching2-desconto-box50.png');
}
.bg-img-desc-3 {
	background-size: 310px;
	background-repeat: no-repeat;
	background-image: url('/wp-content/themes/academy/images/coaching2-desconto-box25.png');
}
.bg-blue-box{
	background-color: #0a67a9!important;
	border-radius: 20px;
	width: 220px;
	height: 258px;
}

.border-coaching {
	border-right: 1px solid black;
}
.bg-aqua-box{
	background-color: #0da3c7!important;
}

.bg-blue-light {
	background-color: #3483c5!important;
}

.bg-agua-light {
	background-color: #b3d7ed!important;
}

.bg-agua {
	background-color: #a4c6e7!important;
}


.bg-agua-ulta-light {
	background-color: #ebf6fa;
	border-top-style: solid;
	border-top-color: #ddecf7;
	border-bottom-style: solid;
	border-bottom-color: #a4c6e6;
    border-width: 2px;
}

.curso-veja-mais {
    background-color: #E7F4FA;
    border-radius: 20px;
    padding: 20px;
    margin: 0 0 20px 20px;
}

.curso-veja-mais-item {
	font-size: 14px;
	clear: both;
	margin: 10px 0;
	height: 48px;
}

.curso-veja-mais-item img {
	vertical-align: middle;
	float: left;
    margin-right: 10px;
}

.curso-veja-mais-item span {
	height: 42px;
    display: block;
    vertical-align: middle;
    overflow: hidden;
    text-align: left
}
.box-azul-o {
	color: #1A719E;
	border: 1px solid #1A719E;
	padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px
}
.curso-demo {
	margin: 20px 10px;
	text-align: center;
}

.curso-demo-titulo {
	min-height: 60px;
	max-height: 60px;
	overflow: hidden;
}

.bg-agua-ulta-light-right {
	background-color: #ebf6fa;
	border-top-style: solid;
	border-left-style: solid;    
    border-color: #ddecf7;
    border-bottom-style: solid;
    border-bottom-color: #a4c6e6;
    border-width: 2px;
}

.bg-white {
	background-color: #fff!important;
}
.bg-blue {
	background-color: #005fab!important;		
}

.bg-darkblue {
	background-color: #2f405e!important;		
}

.bg-orange{
	background-color: #fbb255 !important;
}

/* C */
.cursostitle span {
	color: #005FA6;
	display: block;
	font-size: 16px;
	margin: 20px 0 10px;
	width: 100%;
}
.cursostitle {
	background:#2F405E;
	color: #FFFFFF;
	font-size: 18px;
	
}

.clear {
	clear:both;
}
.d-w {
	height: 45px;
	width: 55px;
}
.margin-item-topbar {
	margin-left: 1rem;
	margin-right: 1rem;
}
/*
.concurso a:link, .concurso a:hover, .concurso a:visited {
	color: #333;
}	
*/

.cart-box {    
    z-index: 999;
    color: #000;
    background-color: #fff;
    display: none;
    width: 35%;
    overflow-y: auto;
    max-height: 550px;
    left: 60%    
}

.cart-box-scroll {
    left: 63.2%!important;
    top:103px!important;   
}
.header-topbar-mobile {
	top:-50px!important;
	transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.cart-box img{
 	width: 36px;
 }

 .cart-box table{
 	margin-bottom: 0px!important;
 }

 .copyright {
	color: #0A67A9;
	font-weight: bold;
}

/* D */

.dropdown-menu {
	color: #fff;
}

.minha-conta-baixar-tudo {
	position: absolute;
	left: 77.6%;
	top: 105%;
}
.bg-box-azul-light {
	background-color: #E7F4FA;
}
.box-w-1 {
	width: 16%;
}
.box-w-2 {
	width: 20%;
}
.box-w-3 {
	height: 100px
}
.cronograma-detalhe-interno, .cronograma-detalhe-interno td {
    background-color: #F6F8EB !important;
    padding: 20px;
    width: 100%
    border: none!important;
}
.cronograma-detalhe-interno a {
    margin-left: 10px;
    font-size: 10pt;
}
.cronograma-detalhe-interno a:hover {
    text-decoration: none;
}
.cronograma-detalhe-interno img {
    margin-top: 2px;
}
.minha-conta-img {
	position: relative;
	top: -27px;
}
.border-box-white {
	border: 5px solid #fff!important;
}

.border-white {
	border-color: #fff!important
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3483c5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.detalhe-img img {
	width: 170px;
	height: 170px;
}
ins {
    text-decoration: none!important;
}

.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #005fab;
}
.font-coaching h1 {
	font-size: 40px!important;
}
.dropdown-contentt {
    display: none;
    position: absolute;
    left: 33%;
    background-color: #3483c5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.w-drop {
	width: 190.1px;
}
.dropdown-contentt a {
    float: none;
    color: #3d97b4;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-contentt a:hover {
    background-color: #64e479;
}

.dropdownres:hover .dropdown-content {
    display: block;
}
.cw-10 {
	width: 10%!important;
}
.dropdownres:hover .dropdown-contentt {
    display: block;
}
.dropdownres {
	margin-top: -1px!important;
	padding: 8px!important;
}
.border-none th {
	border: none!important;
}
.border-none td {
	border: none!important;
}
.border-none tr {
	border: 15px solid #fff!important;

}

.tabela-pedidos-tr-bg-azul {
    background-color: #E7F4FA;
    color: #334053;
    font-family: calibri;
    font-size: 18px;
    height: 110px;
}
.text-detalhe a {
	color: #343a40;
	text-decoration: underline;
} 
.text-forum a {
	color: #5ea5d7;
	text-decoration: none;
}

.text-forum a:hover {
	color: #5ea5d7; 
	text-decoration: underline;
} 

.text-detalhe a:hover {
	color: #343a40; 
	text-decoration: underline;
} 
/* E */
.expo-img-pesquisa {
	width: 83%;
}
.expo-img-footer {
	width: 75%;
}
.font-pop {
	font-size: 40px;
    font-family: Poppins;
    font-weight: bold;
    text-align: center!important;
}
.font-pop-h2 {
    font-family: Poppins;
    font-weight: bold;
    text-align: center!important;
}
.tachado {
	text-decoration: line-through;
}

/* F */
.ft-10 {
	font-size: 10pt;
}
.destaque .bg-agua {
    background-color: #bb6c8f!important;
}
.pacote .bg-agua {
    background-color: #73c559!important;
}
.height-concursos {
	height: 128px!important;
}
.fundo-vermelho-escuro {
	background-color: #F5876C;
}

.fundo-verde-escuro {
	background-color: #79C257;
}

.fundo-cinza-escuro {
	background-color: #E6E7E9;
}
.fundo-vermelho-claro {
	background-color: #F8AC92;
}

.fundo-verde-claro {
	background-color: #9ACE83;
}
.relatorio-destaque {
	font-weight: bold !important;
}
.price-simulado {
	position: absolute;
	top: 70px;
    left: 7px;
    font-size: 11pt; 
	color: #fff;	
	text-align: center;
	background-color: #3483c5;
}
.price-curos-online {
	position: absolute;
	top: 35px;
    left: -7px;
    font-size: 11pt; 
	color: #fff;	
	text-align: center;
	background-color: #3483c5;
}

.home-concurso-float {
	position: absolute;
	top: 30px;
	left: -5px;
	font-size: 12pt;
	color: #fff;	
	text-align: center;
	background-color: #67d66b;
}
.home-midia-float {
	position: absolute;
	top: 30px;
	left: -5px;
	font-size: 12pt;
	color: #fff;	
	text-align: center;
	background-color: #3483c5;
}

.flt-left {
	position: absolute;
	top: 30px;
	left: -5px;
	font-size: 12pt;
	color: #fff;	
	text-align: center;
	background-color: #3483c5;
}

.float-img-professor {
	position: absolute;
	bottom: 0px;
	left: -20px;
	width: 200px!important;
	height: 200px!important;
}

.float-coaching-1 {
	position: relative;
	bottom: 124px;	
	left: 54px;
}
.float-coaching-3 {
	position: relative;
	bottom: 124px;
	left: 15px;
}
.float-coaching-6 {
	position: relative;
	bottom: 124px;
	left: 20px;
}
.float-coaching-preco-1 {
	position: relative;
	bottom: 75px;
	right: 70px;	
}
.float-coaching-preco-3 {
	position: relative;
	bottom: 116px;
}
.float-inscreva-1 {
	position: relative;
	bottom: 85px;
	left: 50px;
}
.float-inscreva-3 {
	position: relative;
	bottom: 124px;
	left: 50px;
}

.forum-status-pending {
	background-color: #FFFFE0 !important;
}

.w-cell-table {
	width: 500px;
}
.ver-mais-simulados:link, .ver-mais-simulados:visited, .ver-mais-simulados:hover {
    line-height: 1.5;
    color: #666;
    font-size: 14px;
    font-weight: bold;
}
span.float-coaching-preco-3 p {
	margin-bottom: 0!important;
}

.text-green {
	color: #7bf78e!important;
}
.text-darkgreen {
	color: #75bf55!important;
}

#bbpress-forums div.bbp-search-form {
    padding-right: 17px!important;
}


.fa-caret-down {
	font-size: 16pt;
}

.footer-fundo {
	background-color: #0a67aa;
	padding: 5px 0;
}

.footer-bandeiras {
	background-color: #aaabaf;
	color: #fff;
}
.painel-height {
	height: 50px;
}
.font-8 {font-size: 8pt!important;}
.font-9 {font-size: 9pt;}
.font-10 {font-size: 10pt!important;}
.font-11 {font-size: 11pt;}
.font-12 {font-size: 12pt;}
.font-13 {font-size: 13pt!important;}
.font-14 {font-size: 14pt!important;}
.font-15 {font-size: 15pt;}
.font-16 {font-size: 16pt;}
.font-17 {font-size: 17pt;}
.font-18 {font-size: 18pt;}
.font-19 {font-size: 19pt;}
.font-20 {font-size: 20pt!important;}
.font-22 {font-size: 22pt;}
.font-23 {font-size: 23pt;}
.font-25 {font-size: 24.8pt;}
.font-26 {font-size: 26pt;}
.font-28 {font-size: 28pt;}
.font-27 {font-size: 27pt;}
.font-29 {font-size: 29pt;}
.font-30 {font-size: 30pt;}
.font-32 {font-size: 32pt;}
.font-40 {font-size: 40pt;}
.font-46 {font-size: 46pt;}
.font-55 {font-size: 55pt;}

.text-amarelo-2 {
	color: #fcd432!important;
}

div#etapa-1 div#img-1 {
    background: url(/wp-content/themes/academy/images/coaching/2497148212-download.png) no-repeat;
    width: 300px;
}
.opacity {
	opacity: 0;
}
.upload-avaliacao {	
	height: 40px;
	background: url("/wp-content/themes/academy/images/coaching/1274163023-upload-avaliacao.png") no-repeat;
	
}
.img-rdp img {
	width: 60px;
}
.upload-disponibilidade {
	height: 40px;	
	background: url("/wp-content/themes/academy/images/coaching/3974246140-upload-disponibiliade.png") no-repeat;
	
}

.h1-lg h1 {
	font-size: 40px!important;
	font-family: Poppins!important;
}
.bbp-reply-author img {
    width: 80px;
}
.font-calibri {
	font-family: calibri!important;
}

.font-arial {
	font-family: arial!important;
}

/* G */
.g-recaptcha {
	display: inline-block;
}
.img-bar img {
	position: relative;
	top: -5px;
}
/* H */
span.font-price-del del {
	font-size: 14pt!important;
}
.header-topbar a:link, .header-topbar a:visited {
	text-decoration: none; 
}
.header-topbar {
	transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
	position: fixed;
	z-index: 99999;	
	top: 0px;	
}
.header-topbar-ass-bar {
	transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
	position: fixed;
	z-index: 99999;	
	top: 26px;	
}
.top-0 {
	top: 0!important;
}
.top-nav {
	top: 150px!important;
}
.top-logo {
	top: 26px!important;
}
.header-topbar-scroll {
	position: fixed!important;
	z-index: 99999!important;
	top: -40px!important;	
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}
.assinatura-bar-scroll {	
    top: -40px!important;
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}
.featured-content {
	margin-top: 13.3rem;
}
.featured-content .rev-scroll {
	top:-33px!important;
}
.fixed-hidden {
	visibility: hidden;
}
.assinatura-height {
	height: 27px;
}
.assinatura-bar {
	background-color: #bcdca1;
	width: 100%;
	height: 29px;
	z-index: 9999;
	position: fixed;
	top: 0;
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}
.assinatura-bar-msg {
	color: #333;
	font-weight: bold;
	vertical-align: super;
}

.assinatura-close {
	font-weight: bold;
	vertical-align: super;
	margin: 0 5px;
}

.assinatura-close a:link, .assinatura-close a:visited {
	color: #fff;
	font-weight: bold;
}
.blog-scroll {
	top:100px!important;
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}
.b-top {
	position: fixed;
	top:187px;
	z-index: 999;
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}
.b-top-ass-bar {
	position: fixed;
	top:213px;
	z-index: 999;
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}

.login-esqueceu a:hover {
	text-decoration: underline; 
}
.font-roboto {
	    font-family: 'Roboto',sans-serif!important;
}
.header-divider {
	border-left: 1px solid #ccc
}


.header-botao a, .header-botao-area a {
    display: inline-block;
}


.header-botao-area a {
	background-color: #64e479;
}

.header-botao span {
	color: #0A67A9;
}

.header-botao a:hover {
	text-decoration: none;
}

.header-botao-lupa a{
	background-color: #64e579;
}

.header-botao-lupa a:hover {
	text-decoration: none;
}

.header-botao-sq a {
	background-color: #fbb255;
}

.header-botao-sq a:hover {
	text-decoration: none;
}

.header-botao-sq span, .header-botao-area span, .header-botao-lupa span {
	color: #fff;
}
.price-cut {
    text-decoration: overline;
}
.header-botao span, .header-botao-sq span, .header-botao-area span, .header-botao-lupa span {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

.header-boasvindas {
	margin-right: 10px;
}

.img-sq {	
	height: 33px!important;
}
.header-botao img, .header-botao-sq img,  .header-botao-area img {
	vertical-align: bottom;
	height: 24px;
}


.header-pesquisa .easy-autocomplete, .header-pesquisa .easy-autocomplete-2{
	float: left;
	width: calc(100% - 80px) !important;
}

.header-pesquisa #busca {
	width: 100%;
	font-size: 16px;
	border: 1px solid #64e579;
    box-shadow: none;
    border-radius: 15px 0 0 15px;
    margin-bottom: 3px;
    padding: 5.5px 10px;
}

.header-pesquisa-lupa {
	background-color: #64e579;
    width: 48px;
    float: left;
    height: 39px;
    border-radius: 0 15px 15px 0;
}

.fa-search {
	font-size: 16pt;
}



/* I */
/* J */
/* K */
/* L */
.login-box-mobile {
	display: none;
}

.login-box form {
	text-align: left
}

.login-box-seta {
	text-align: center;
	position: relative;
	top: -10px;
}

.login-box-facebook img {
	width: 200px;
	vertical-align: middle;;
}

.login-box {
    border: 1px solid #E6E7E9;
    z-index: 999;
    color: #000;
    padding: 7px 7px;
    display: none;
 	width: 479px;
    left: 56.5%;
    text-align: right;
    background-image: url('/wp-content/themes/academy/images/1seta.png');
    background-repeat: no-repeat;
    background-position: center top;
}


.lnk-black:link {
	text-decoration:none;
}

.lnk-black {	
	color: black;
}

.lnk-black:hover {	
	color: #545454;
}

/* M */
.msg-error {
	width: 90%;
	margin: 15px auto;
	background-color: #FFBABA;
}

.mt-10 {
	margin-top: 12.2rem!important;
}
.mt-6 {
	margin-top: 5rem!important;
}
.mt-7 {
	margin-top: 7rem!important;
}

.mt-8 {
	margin-top: 9rem!important;
}

.mt-9 {
	margin-top: 11rem!important;
}

.ml-6{
	margin-left:4rem!important
}

.ml-7{
	margin-left:6rem!important
}

.ml-8{
	margin-left:8.3rem!important
}

.ml-9{
	margin-left:12rem!important
}

.ml-10{
	margin-left:12.6rem!important
}

.ml-12{
	margin-left:17.3rem!important
}

.mr-6{
	margin-right:4rem!important
}

.mr-7{
	margin-right:6rem!important
}

.mr-8{
	margin-right:8.3rem!important
}

.mr-9{
	margin-right:12rem!important
}

/* N */
.navbar {
	padding-top: 0px;
}
/* O */
/* P */
.pr_txt_con {
	max-height:300px;
}

.pr_txt_con {
	max-height:80px;
	overflow-y:hidden;
}
.produtos-simulados .woocommerce-result-count {
	width: 100%;
}

.pag40420 {
	font-size: 20pt; 
	font-weight: bold;
	color:#0d5e9f
}

.pag40418 {
	font-size: 18pt; 
	color:#0d5e9f
}

.pag40412 {
	font-size: 12pt; 
	color:#0d5e9f
}

/* Q */
/* R */
.register-success {
	width: 90%;
	margin: 15px auto;
	background-color: #DFF2BF;
}
/* S */



.sq-vantagem-desconto {
	min-height: 67px;
	margin-top: 15px;
}

.sq-vantagem-label {
	font-size: 14px;
	padding: 8px;
    width: 600px;
    display: inline-block;
}

.sq-vantagem-usuario, .sq-vantagem-assinante {
	padding: 9px 0;
    width: 100px;
    display: inline-block;
    margin: -1px 6px -2px 0;
    vertical-align: bottom;
}

.sq-vantagem-titulo {
	font-size: 16px;
}

.secao-barra-escura {
	background-color: #0A2365;		
}

.secao-barra-escura img{
	vertical-align: middle;	
}
.sq-preco {
    margin-top: -45px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.sq-preco span {
	font-size: 12px;
}
.border-professor {
	border: solid 5px #e7e8ea;
	border-radius: 10px;
	width: 220px;
	height: 211px;	
	background-color: #fff;
}
input.btn-danger {    
    background-color: #dc3545!important;
}
.simulado-height {
	height: 220px!important;
    overflow: hidden;
}
.simulado-box img {
	width: 100%!important;
	height: 100%!important;
}
.secao-barra-clara {
	z-index: 999;
	position: fixed;
	top: 187px;
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}
.secao-barra-clara-ass-bar {
	z-index: 999;
	position: fixed;
	top: 213px;
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}
.secao-barra-clara-scroll {
	z-index: 999;
	position: fixed;
	top: 100px!important;
	transition: all 0.4s ease-in-out!important;
  -webkit-transition: all 0.4s ease-in-out!important;
  -moz-transition: all 0.4s ease-in-out!important;
}
.twelvecol {	
    max-width: 100%;
}
.fourcol {
	margin-left: 7px;
	margin-right: 5px;
    max-width: 32%;
    height: 350px;
}
.concurso-h-top {
	height: 265px;
}
.concurso-footer-h-footer {
	height: 98px;
}
.fourcol .pesquisa-rodape {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
}

.fourcol .pesquisa-rodape a {
	margin-top: 4px;
	margin-bottom: 4px;
}

.pesquisa-rodape a.u-btn-blue {
	padding-right: 16.5px;
	padding-left: 16.5px;
}


.secao-barra-clara a:link, .secao-barra-clara a:visited {
	text-decoration: none;
}

.secao-capa img {
	width: 100%;
	display: block;
}

.simulado-product {
	margin: 0 1.4% 2.992em !important;
}

/* T */
.titulo-professores {
	font-size: 13pt;
	color: #000;
	font-family: calibri;
	line-height: 1;
}


.titulo-professores:hover {
	text-decoration: none;
}
.text-darkblue {
	color: #2f3f60!important;
}

.text-blue {
	color: #1a719e!important; 
}

.text-decoration-none {
	color: #000; 
	font-size: 20pt;
}
.text-decoration-none:hover {
	text-decoration: none; 
}

.t-d-none {
	color: #2f405e; 
}

.t-d-none a {
	color: none; 
}

.t-d-none:hover {
	text-decoration: none; 
	color: #2f405e;
}

.t-d-none a:hover {
	text-decoration: none; 
}

/* U */
/* V */
.ver-mais-simulados:link,  .ver-mais-simulados:visited, .ver-mais-simulados:hover {
	line-height: 1.5;
	color: #666;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.border-green {
	border-color: #64e579!important;
}
/* W */

.woocommerce-result-count, .orderby {
	margin-top:-35px !important;
}
#orderby-autor .woocommerce-result-count, .orderby {
	margin-top: 15px !important;
}
#carousel-compatativo .carousel-control-next, .carousel-control-prev {
        margin-bottom: 1140px!important;    
        margin-left: -15px!important;    
}
#carousel-compatativo .carousel-control-next, .carousel-control-next {
        margin-bottom: 1140px!important;    
        left: 325px!important;    
}

/* X */
/* Y */
/* Z */
.z-index-1 {
	z-index:99999;
}
.z-index-2 {
	z-index:9997;
	position: fixed;	
}
.navbar-index {
	z-index:1000;
	position: fixed;
	top: 150px;
	transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.navbar-index-ass-bar {
	z-index:1000;
	position: fixed;
	top: 176px;
	transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.logo-index {
	z-index:1001;
	position: fixed;
	top: 26px;
	transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.logo-index-ass-bar {
	z-index:1001;
	position: fixed;
	top: 52px;
	transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.z-index-4 {
	z-index:9996
}
.ex-aluno-fundo {
    background-image: url(/wp-content/themes/academy/images/ex_aluno_fundo.jpg);
    background-size: cover;
}
.text-blue-2 {
	color: #0a67a9!important;
}
.coaching-fundo {
    background-image: url(/wp-content/themes/academy/images/painel-coaching-fundo.jpg);
    background-size: cover;
}
/* END */
.nav-link:hover, .nav-link.is-active {
    background-color: #144b9b;
    color: #fff!important;
}

#menu-material-gratis:hover, #menu-material-gratis.is-active {
	background-color: #64e479;
	color: #fff!important;
}

#menu-cursos-online:hover, #menu-cursos-online.is-active {
	background-color: #005fab;
	color: #fff!important;
}

.text-amarelo {
	color: #f5a623!important;
}
#nav-concursos.nav-pills .nav-link {
    border-radius: inherit;
}
#nav-material-gratis.nav-pills .nav-link {
    border-radius: inherit;
}
.position-card {
	position: relative;
	right: 49%;
}
.border-cursos-1 {	
	border: solid 1px #dee2e6;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
} 
.border-cursos-2{
	border: solid 1px #dee2e6;
	border-left: none!important;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}

.toast-close-button {    
    font-size: 35px!important;   
    padding: 7px!important;
}

.bg-green-light{
	background-color: #95eda1
}

.pesquisa-barra {
    font-size: 16px;
    border: 1px solid #64e579;
    box-shadow: none;
    border-radius: 15px 0 0 15px;
    margin-bottom: 3px;
    height: 39px;

}
.pesquisa-barra-lupa {
    background-color: #64e579;
    width: 46px;
    height: 39px;
    border-radius: 0 15px 15px 0;
}

.w-b-l {
	width: 46px;
}

.col-assuntos {
	width: 138px;
}


.fale-conosco-assunto-img img {
	height: 46px;
}

.fale-conosco-assunto-input {
	zoom: 1.6;
}

.fale-conosco-assunto-texto {
	line-height: 1;
	min-height: 55px;
}


.fale-conosco-orientacao {
	margin-top: 20px;
	background-color: #FEF2C0;
}

.fale-conosco-orientacao img {
	width: 80px;
	padding: 10px
}

.fale-conosco-orientacao h3 {
	font-size: 22px;
	margin: 10px 0;
}

.fale-conosco-orientacao p {
	text-align: left !important;
}



.fale-conosco-produto-img img {
	height: 73px;
}

.fale-conosco-produto-texto {
	min-height: 60px;
}

.fale-conosco-produto-input {
	zoom: 1.6;
}


.fale-conosco-numero-input {
	text-align: center;

}

.fale-conosco-numero-input input {
	zoom: 1.6;
}

.fale-conosco-numero-input label {
	color: #0A67A9;
}

.fale-conosco-titulo {
	font-size: 40px;
    font-family: Poppins;
    font-weight: bold;
    color: #555555;    
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.box-professor img {
    width: 65px;
    border-radius: 100%;   
    background-color: #fff;
}
.fale-conosco-whatsapp img {
	width: 30px;
	vertical-align: middle;
}

.b_col {
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.b_big_image img{
	max-height: 310px;
	max-width: 570px;
	width: 100%;
	height: 100%;
}

.list-type-none {
	 list-style-type:none;
}

li.b_listing {
	background:#none repeat scroll 0 0 #EEEEEE !important;
	list-style:none !important;
	text-indent: 0px;
}

.pesquisa-rodape {
    background-color: #f1f1f1;
}

.pesquisa-parcelado small{
	font-size: 12px;
}

.blog-post {
	width: 100%;
	font-family: 'Raleway' , serif;
	font-weight: 500;
	color: #333;
	font-size: 18px;
	line-height: 30px;
}

.blog-post h2 {
	color: #144b9b;
	font-weight: 500;
	font-size: 27px;
	font-family: 'Raleway' , serif;
	margin: 23px 0;
}

.blog-post h3 {
	color: #144b9b;
	font-weight: 500;
	font-size: 21px;
	font-family: 'Raleway' , serif;
	margin: 23px 0;
}

.blog-post h4 {
	font-weight: bold;
	font-size: 21px;
	font-family: 'Raleway' , serif;
	margin: 23px 0;
}

.blog-post h5 {
	font-weight: bold;
	font-size: 19px;
	font-family: 'Raleway' , serif;
	margin: 23px 0;
}

.blog-post p {
    width: 100%;
	font-family: 'Raleway' , serif;
	font-weight: 500;
	color: #333;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 0;
	margin-top: 18px;
}
.blog-post ol {
	list-style-type: none;
}

.blog-post strong {
    font-family: arial;   
}

.blog-post li strong {
	font-size: 13px;
	margin-left: 20px; 
	line-height: 2;
	font-family: arial; 
}

.blog-post h5 {
	font-size: 16px;	
	font-family: arial; 
}

.blog-post a {
    text-decoration: none;    
    color: #3463a8;
    font-weight: normal;
}

.blog-post-titulo h1 {
	font-family: 'Raleway' , serif !important;
	font-size: 36px !important;
	color: #144b9b !important;
	font-weight: 500;
	text-align: left !important;
	line-height: 1.15;
	margin: 20px 0;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

.loginimage {
	background: url("/wp-content/themes/academy/images/login_image.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 180px;
	margin:5px;
	width: 177px;
}

.register-nosuccess {
	width: 80%;
	height: 50px;
	padding: 12px;
	background-color: #f0a4a4;
	border: 1px solid;
	color: #c80d0d;
}


.concurso-curso-imagem img {
	height: 100%;
	width: 100%;
}
table.bt tbody td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

table.bt tbody td:before {   
    margin-right: 10px;
   
}
.metabg {
    background: url(/wp-content/themes/academy/images/meta_BG.jpg) no-repeat;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    min-height: 600px;
}
.bg-metodologia {
	background-color: #a9d28b;
}
.concurso-celula {
	min-width: 97px;
	min-height: 113px;
}
.parceiros-height-1 {
	height: 100px;
}
.parceiros-height-2 {
	height: 200px;
}
.parceiros-height-3 {
	height: 70px;
}

.lbl-aula-demo {
	background-color: #79C258;
	border-radius: 5px;
	color: #fff;
	padding: 5px 15px;
}

.lbl-aula-demo i {
	color: #FFF212;
}

.line-height-0 {
	line-height: 0.1!important;
}
.line-height-0-5 {
	line-height: 0.5!important;
}
.line-height-1 {
	line-height: 1!important;
}
.line-height-1-2 {
	line-height: 1.2!important;
}
.line-height-1-3 {
	line-height: 1.3!important;
}
.line-height-1-4 {
	line-height: 1.4!important;
}
.owl-carousel .owl-item img {
    height: 100%;
}
.line-height-1-5 {
	line-height: 1.5!important;
}

.line-height-2 {
	line-height: 2!important;
}

.line-height-3 {
	line-height: 3!important;
}

.height-250 {
	height:100%;
}

.box-aula {
	padding: 20px;
	border: solid 1px #e7e8ea;
	border-radius: 20px;
	margin-bottom: 1.3rem;
}

.box-aula-demo {
	background-color: #D0E49D;
    border-radius: 20px;
}
.numero-arquivos {
    padding: 1px 4px;
    background-color: #79C257;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    position: relative;
    bottom: 23px;
    right: 15px;
    font-size: 13px !important;
}
.curso-aula-descricao {
	text-align: left;
}

.icones-fixed {
	position: fixed;
	right: 0;
	z-index: 8888;
}

.icones-fixed img {
	max-width: 55px!important;
	min-width: 55px!important;
}
.box-w-100 {
	width: 100%!important
}

.pacote-produto-titulo {
    padding: 16px;
    background-color: #87C9E3;
    border-radius: 20px;
    margin: 20px 0;
    color: #15266B;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.curso-sem-desconto {
	text-decoration: line-through;
}

.coaching-concurso ul {
list-style-type: none;
list-style-image: url('/wp-content/themes/academy/images/check-tick-12.png');

}

.coaching-concurso-3 {
	text-indent: 0em!important;

}

.coaching-concurso-2 button ul {
list-style-type: none;
list-style-image: url('/wp-content/themes/academy/images/seta-abrir-menor.png');

}

.easy-autocomplete-container{
left:20px!important;
position:absolute;
width:100%;
z-index: 9999!important;
}

.btn-link {
	text-decoration: none!important;
	padding: 0px;
}
.card-body {
	background-color: #f1f1f1!important;
}

.card-header {
	background-color: #fff!important;
	border-bottom: 2px solid white!important;

}
.card,
.card-header {
  border-color: white!important;
 }
 .card-header {
  padding: 0!important;
 }


 .coaching-concurso-2 .card-body {
	background-color: #e7e8ea!important;
	padding-left: 0px;
}

.coaching-concurso-2 .card-header {
	background-color: #e7e8ea!important;
	border-bottom: 2px solid #e7e8ea!important;

}

.coaching-concurso-2 .card {
  border-color: #e7e8ea!important;
 }


.login-close-btn a {
	color: #999!important;
	font-size: 16px!important;
    font-weight: bold!important;
}


.titulo-midia-home a:hover {
	text-decoration-color: #5ea5d7;

}

.titulo-midia-home a {
	font-size: 11pt;
	color: #494949;
}



.checkout-botoes {
	text-align: right;
	width: 100%;
	margin-bottom: 25px;
}

.checkout-botoes img {
	width: 270px;
}

.woocommerce-checkout #payment {
	background: none!important;
}

form.checkout h3 {
	font-size: 13pt!important;
}

.font-creteround {
    font-family: Crete Round!important;
}
.font-carrinho {
	font-family: Crete Round!important;
	font-size: 13pt!important;
	font-weight: normal!important;
} 
.font-agradecimento {
	font-size: 15pt!important;
	font-weight: normal!important;
	font-style: italic!important;
}
.woocommerce-info {
	width: 100%!important;
	font-size: 10pt!important;
}

.woocommerce-info a:hover {
	text-decoration: none!important;
}

.woocommerce form.checkout_coupon {
	width: 100%!important;
	margin: 0!important;
}

.woocommerce form .form-row input.input-text {
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.acesso-negado-sq {
    background: url(/wp-content/themes/academy/images/acesso-negado.jpg) no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: cover;
}
.text-metodologia {
	position: relative;
	bottom: 300px;
    left: 50px;
}
.h-metodologia {
	height: 356px!important;
}
.customer_details {
	overflow: hidden;
}

#customer_details {
	display: none;
}

.woocommerce-billing-fields {
	display: none;
}


#place_order {
	visibility: hidden;
}
tr th.product-name {
	background-color: #eee;
}

tr th.product-total {
	background-color: #eee;
}
table.shop_table thead tr th {
	background-color: #eee;
	border: solid 1px #ddd!important;
}
#table-shop-agradecimento td a {
	text-decoration: none;
	color: #454a4f;
}
.text-preto {
	color: #454a4f!important;
}
#table-shop-agradecimento tfoot tr:last-child th, 
#table-shop-agradecimento tfoot tr:last-child td {
    font-weight: bold !important;
    color: #3c4248!important;
}
.shop_table {
	border-spacing: 0px!important;
}
.pedido-concluido .dados-cliente {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
}
.pedido-concluido .dados-cliente dt {
    margin-right: 10px;
    float: left;
}
.product-name,.product-total,.product-remove,.order-total th, .order-total td{
	border: solid 1px #ddd!important;
}
.pointer{
	cursor: pointer;
}
.section_head {
    position: relative;
    background: #122659;
    height: 54px;
    color: #fff;
}
.section_head_painel {
    position: relative;
    background: #122659;
    height: 58px;
    color: #fff;
}
.section_head_img {    
    position: absolute;     
    z-index: 9;
}
.section_head_img img {    
    height: 67px;
}

.paginacao-select{
	border-color: #0a67a9;
}

.btn-caderno{
	color: #fff;
	background-color: #0a6fa9;
	font-weight: bold;
	border-radius: 8px;
	margin-top: 7px;
	height: 31px;
	width: 195px;
	margin-left: -5px;
}

.btn-caderno a, .btn-caderno a:hover, .btn-caderno a:link, .btn-caderno a:visited{
	color: #fff !important;
}

.btn-caderno i{
	padding-left: 25px;
}

.btn-caderno i img{
	height: 16px;
	width: auto;
}

.btn-caderno span{
	font-size: 14px;
	float: right;
}

.collapse-sessao{
	cursor: pointer !important;
}

/* Login modal - Início*/
.login-modal{
	background-color: #f1f1f1 !important;
}
.altura-modal-entrar {
	height: 45px!important;
}
.botao-fexar {
	margin-top: -7px!important;
	font-size: 30px!important;
}
.row-login-a {
	display: grid;
	grid-template-columns: 43% 43% 14%;
}
.row-login-a div {
	margin-top: 5px;
}
.row-login-b {
	display: grid;
	/*grid-template-columns: 54% 50%;*/
	grid-template-columns: 43% 43% 14%;
	margin-top: 10px;
}
.row-login-b div {
	text-align: left;
}
.row-login-b .m-face {
	margin-top: 5px;
}
.login-text {
	font-size: 13pt;
}
.modal-content {
	background-clip: padding-box;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	outline: 0 none;
	position: relative;
}
.modal-dialog {
	z-index: 2200;
}
.modal-body {
	padding: 20px 30px 30px 30px;
}
.inmodal .modal-body {
	background: #f8fafb;
}
.inmodal .modal-header {
	padding: 30px 15px;
	text-align: center;
}
.animated.modal.fade .modal-dialog {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.inmodal .modal-title {
	font-size: 26px;
}
.inmodal .modal-icon {
	font-size: 84px;
	color: #e2e3e3;
}
.modal-footer {
	margin-top: 0;
}
.modal-dialog {
	z-index: 2200;
	/*width: 600px;*/
	padding-top: 30px;
	padding-bottom: 30px;
}
.modal-body {
	padding: 20px 30px 30px 30px;
}
.modal {
	z-index: 2050 !important;
}
.modal-dialog-grande{
	max-width: 950px !important;
}
@media screen and (max-width: 576px) {
	.row-login-a {
		display: grid;
		grid-template-columns: 100%;
	}
	.row-login-a div {
		margin-top: 5px;
	}
	.row-login-b {
		display: grid;
		grid-template-columns: 100%;
	}
	.row-login-b div {
		text-align: left !important;
	}
	.row-login-b .m-face {
		margin-top: 5px;
	}
	.modal-dialog-grande{
		padding-top: 100px;
	}

	/*#rc-imageselect, .g-recaptcha {
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}*/
}
/* Login modal - Fim*/

/* Depoimento - Início */

.depoimento-video a:link, .depoimento-video:hover, .depoimento-video a:visited {
	color: #555 !important;
}

/* Depoimento - Fim */

/* =Pagination - INÍCIO
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
	border: 1px solid transparent;
}

.bbp-pagination-links {
	float: right;
	list-style: none;
	display: inline;
}

.bbp-pagination-links a,
.bbp-pagination-links span.current {
	display: block;
	float: left;
	padding: 0px 5px;
	margin-left: 5px;
	border: 1px solid #efefef;
	text-decoration: none;
}

.bbp-pagination-links a:hover,
.bbp-pagination-links span.current {
	background: #eee;
	opacity: 0.8;
	border: 1px solid #ddd;
}

.bbp-pagination-links span.dots {
	display: block;
	float: left;
	padding: 1px 4px;
	margin-left: 5px;
}

.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
}
.bbp-topic-pagination a {
	font-size: 10px;
	line-height: 10px;
	padding: 1px 3px;
	border: 1px solid #ddd;
	text-decoration: none;
}
/* =Pagination - FIM */