@charset "utf-8";
/* col */
@media screen and (max-width: 576px) and (min-width: 322px) {
.position-card iframe.wp-embedded-content {
	width: 295px!important;
}
}
@media screen and (max-width: 321px) and (min-width: 319px) {
.contarativo-height-3 {
	height: 205px!important;
}
.contarativo-height-2 {
	height: 100px!important;
}	
.margin-item-topbar {
	margin-left: 0.7rem!important;
	margin-right: 0.7rem!important;
}
.ml-7-5 {
	margin-left: 6rem;
}
.table-margin {margin-left: -9px!important;}
.table-margin-forums {margin-left: -5px!important;}
.table td {padding: .05rem!important;padding-top: 0.8rem!important;padding-bottom: 0.8rem!important}
.upload-avaliacao {
	background-size: 51%;
}
.p-bread {
    margin-left: 14%!important;
}
.position-card iframe.wp-embedded-content {
	width: 245px!important;
}
.position-card div.wp-embed-featured-image {    
    margin-left: 20px;
}
.pddl-xs-0 {
	padding-left: 3px!important;
}
.position-card {
    position: relative;
    right: 0;
    top: 0;
}
#carousel-compatativo .carousel-control-next, .carousel-control-next {
        margin-bottom: 1140px!important;    
        left: 272px!important;    
}
.font-xs-lineheight {
	line-height: 1!important;}	
.bg-img-size-curso {
    height: 260px!important;
}
.upload-disponibilidade {	
	background-size: 51%;
}
div#etapa-2 input.upload-text {
    top: -38px;
    left: 150px;
    width: 145px    
}
.font-xs-16 {
	font-size: 16pt!important;
}
}
@media screen and (max-width: 361px) and (min-width: 359px) {
.margin-scrol-item-topbar {
	margin-left: 1.02rem!important;
	margin-right: 1.02rem!important;
}
.margin-item-topbar {
	margin-left: 0.9rem!important;
	margin-right: 0.9rem!important;
}
.ml-7-5 {
	margin-left: 7rem;
}
.table-margin-forums {margin-left: -8px!important;}
.table-margin {margin-left: -10px!important;}
.upload-avaliacao {
	background-size: 54%;
}
#accordion button.font-20 {
	font-size: 19pt!important;
}
.pddl-xs-0 {
	padding-left: 15px!important;
}
.position-card {
    position: relative;
    right: 1.5%;
    top: 0;
}
.bg-img-size-curso {
    height: 305px!important;
}
#carousel-compatativo .carousel-control-next, .carousel-control-next {
        margin-bottom: 1140px!important;    
        left: 312px!important;    
}
.upload-disponibilidade {	
	background-size: 54%;
}
div#etapa-2 input.upload-text {
    top: -36px;
    left: 181px;
    width: 150px    
}
}
@media screen and (max-width: 376px) and (min-width: 374px) {
.margin-item-topbar {
	margin-left: 1rem!important;
	margin-right: 1rem!important;
}
.table-margin {margin-left: -4px!important;}
.upload-avaliacao {
	background-size: 55%;
}
.ml-7-5 {
	margin-left: 7.5rem;
}
.position-card {
	right: -1.5%;
	top: 0;
}
.upload-disponibilidade {	
	background-size: 55%;
}
.pddl-xs-0 {
	padding-left: 18px!important;
}
div#etapa-2 input.upload-text {
    top: -35px;
    left: 192px;
    width: 158px    
}
.bg-img-size-curso {
    height: 300px!important;
}
}
@media screen and (max-width: 415px) and (min-width: 410px) {
.margin-scrol-item-topbar {
	margin-left: 1.2rem!important;
	margin-right: 1.2rem!important;
}
.margin-item-topbar {
	margin-left: 1.2rem!important;
	margin-right: 1.2rem!important;
}
.ml-7-5 {
	margin-left: 9rem;
}
.upload-avaliacao {
	background-size: 55%;
}
.pddl-xs-0 {
	padding-left: 30px!important;
}
.position-card {
	right: -6.5%;
	top: 0;
}
#carousel-compatativo .carousel-control-next, .carousel-control-next {
        margin-bottom: 1140px!important;     
        left: 360px!important;    
}
.bg-img-size-curso {
    height: 350px!important;
}
.upload-disponibilidade {	
	background-size: 55%;
}
div#etapa-2 input.upload-text {
    top: -35px;
    left: 215px;
    width: 158px    
}
}
@media screen and (max-width: 490px) {
.text-azulescuro.font-40 {
	font-size: 30pt!important;
}
.text-azulescuro.font-46 {
	font-size: 23pt!important;
}
.navbar-index {	
	top: 50px !important;	
	z-index: 99999;
	padding-bottom: 1px!important;
}
.navbar-index-ass-bar {	
	top: 100px!important;	
	z-index: 99999;
	padding-bottom: 1px!important;
}

.header-botao{
	margin-left: -10px;
}

.header-topbar {
	/*padding-bottom: 25px!important;*/
	padding-bottom: 5px!important;
}
.assinatura-bar {   
    height: 55px;
}
.img-bar img {
    top: -10px;
}
.table td {
    padding: .45rem;
   
}
.header-topbar-ass-bar { 
    top: 50px;
    padding-bottom: 10px!important;
}
}

@media screen and (max-width: 576px) {
.height-concursos {
	height: 125%!important;
}
.nav-clube .justify-content-end {
	-webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.b-top {
	position: relative;
	top: 0;
}
.b-top-ass-bar {
	position: relative;
	top: 0;
}

.blog-scroll {
	top:0!important;
}
.box-home-concursos {
    width: 100%!important;
}
.box-home-midia {
    width: 100%!important;
}
.p-bread {
    margin-left: 20%;
}
.p-result-count {
    top: 0;
}
.position-card div.wp-embed-featured-image{   
    margin-left: 40px;
}
.p-l-r {
	padding-right: 2.2rem!important;
	padding-left: 2.2rem!important;
}	
.font-pop {
	font-size: 30px;
}
.blog-post img {
width: 100%;
}
.h1-lg h1 {
	font-size: 30px!important;
}
h1 {
	font-size: 30px!important;
}
.home-concurso-float {
    width: 150px;
}
.box-cursos-professor {
	height: 450px;
}
.p-compatativo-0 {
	padding: 0px!important
}
.margin-tb-pagination {
	margin-top: 10px;
	margin-bottom: 10px;
}	
.cart-box {
	width: 98%;
	left: 1%;
	max-height: 330px;
}
.gallery-height {
	height: 82px;
}
.text-perguntas h1 {
	font-size: 12pt!important;
}
.fourcol {max-width: 94%;}
.featured-content {
	margin-top: 4.3rem;
}
.featured-content.featured-content-pesquisa {
	margin-top: 8.3rem;
}
.featured-content.featured-content-ass-bar {
	margin-top: 6.1rem;
}
.featured-content.featured-content-ass-bar.featured-content-pesquisa {
	margin-top: 10.3rem;
}
.featured-content.featured-content.featured-content-ass-bar.featured-content-scroll{
	margin-top: 3.1rem;
}
.featured-content.featured-content-scroll{
	margin-top: 4.6rem;
}
.float-captcha {
	position: relative;
	left: -10px;
}
.logo-index {
	top: 10px;
}
.logo-index-ass-bar {
	top: 62px;
}
.minha-conta-botoes a img{
	margin-top: 8px;
}
.pre-concurso {
	white-space: pre;
}
.fale-conosco-assunto-texto {	
	min-height: 0px;
}
.minha-conta-baixar-tudo {
	left: 25%;	
}
.pag40420 {
	font-size: 16pt;
}

.pag40418 {
	font-size: 14pt; 
	
}

.border-coaching {
	border-right: none;
}
.detalhe-img img {
	width: 100%;
	height: 100%;
}
.coaching-concurso-2 button ul {
list-style-image: url('/wp-content/themes/academy/images/seta-abrir-mobile.png');

}
.woocommerce ul#midias li.product {
	width: 80%!important;
	margin: 5% 0 2.5em 2%!important;
}
.woocommerce ul#concursos li.product {
	width: 80%!important;
	margin: 5% 0 2.5em 2%!important;
}
.woocommerce ul.products li.product {
	width: 90%!important;
	margin: 5% 0 2.5em 5%!important;
}
.woocommerce-result-count, .orderby {
	margin-top:0px !important;	
}

.woocommerce-ordering {
	float: none!important;
}
.font-sm-9 {font-size: 9pt!important;}
.font-sm-10 {font-size: 10pt!important;}
.font-sm-11 {font-size: 11pt!important;}
.font-sm-12 {font-size: 12pt!important;}
.font-sm-13 {font-size: 13pt!important;}
.font-sm-14 {font-size: 14pt!important;}
.font-sm-15 {font-size: 15pt!important;}
.font-sm-16 {font-size: 16pt!important;}
.font-sm-18 {font-size: 18pt!important;}
.font-sm-20 {font-size: 20pt!important;}
.font-sm-22 {font-size: 22pt!important;}
.font-sm-24 {font-size: 24pt!important;}
.font-sm-30 {font-size: 30pt!important;}

.box-cursos-online {
	height: 100%!important;	
}


.checkout-botoes {
	text-align: center;
}

.checkout-botoes img {
	margin-top: 5px;
}
}
@media handheld, only screen and (max-width: 767px) {

.p-absolute {
	position: absolute!important;
	
}
.navbar-index {	
	top: 38px;	
	z-index: 99999;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	float: none!important;
}
.height-250{
	width: 250%;
	height: 100%!important;
}


nav.bg-blue {
	background-color: #f1f1f1!important;
}
}
/* col-md*/
@media screen and (max-width: 768px) and (min-width: 577px){
.secao-barra-clara {	
	top: 186px;
}
.col-cursos-grade {
    width: 27%!important;
}
.h-grade-cursos {
    height: 115px;
}
.blog-post img {
    width: 100%;
}
.linha-grade.col-4 {
	flex: 0 0 50%;
    max-width: 50%;
}
.secao-barra-clara-scroll {
	top: 102px!important;
}
.h-rodape-grid {
	height: 110px!important;
}
.pesquisa-titulo {
	font-size: 14pt!important;
}
.cursos-online-h-top {
	height: 220px;
}
.cursos-online-h-body {
	height: 140px;
}
.bg-img-size-curso {
    height: 185px!important;
}
.fourcol .pesquisa-rodape {	
	height: 100px;
}
.p-bread {
    margin-left: 36%;
}
.pesquisa-box-grid {
	height: 400px;
}

.fourcol {max-width: 47%;}
.box-home-concursos {
	height: 200px!important;	
}
.woocommerce ul.products li.product a img {  
    height: 100px!important;    
}
.login-box {  
    left: 29.5%;
}
.cart-box-scroll {
    left: 38%!important; 
    top: 102px!important;
    background-position: 60% 1%!important;
}
.minha-conta-botoes a img{
	margin-top: 5px;
	margin-left: 5px;
}
.minha-conta-baixar-tudo {
	left: 66%;	
}
.woocommerce-result-count, .orderby {
	margin-top:-42px !important;
}
#orderby-autor .woocommerce-result-count, .orderby {
	margin-top: 15px !important;
}
.h-metodologia {
	height: 380px!important;
}
.img-logo {
	width: 100%;
    height: 100%;
    margin-top: 8px;
}
.navbar-index {
    top: 147px;
}
.font-md-9 {font-size: 9pt!important;}	
.font-md-10 {font-size: 10pt!important;}
.font-md-11 {font-size: 11pt!important;}
.font-md-12 {font-size: 12pt!important;}
.font-md-13 {font-size: 13pt!important;}
.font-md-14 {font-size: 14pt!important;}
.font-md-15 {font-size: 15pt!important;}
.font-md-16 {font-size: 16pt!important;}
.font-md-18 {font-size: 18pt!important;}
.font-md-20 {font-size: 20pt!important;}
.font-md-22 {font-size: 22pt!important;}
.font-md-24 {font-size: 24pt!important;}

.mt-md-custom-1 {
	margin-top: 2.97rem!important;
}
.b-top {
	top:186px;
}
.blog-scroll {
	top:101px!important;
}
.img-professor-ipad {
	width: 100px!important;
	height: 100px!important;
}
.mt-md-custom-2 {
	margin-top: 2.35rem!important;
}
.mb-md-custom-1 {
	margin-bottom: 2.3rem!important;
} 
.sq-vantagem {
	margin-left: 0%;
}
#carousel-compatativo .carousel-control-next, .carousel-control-prev {
        margin-bottom: 1140px!important;   
        margin-left: -15px!important;    
}
#carousel-compatativo .carousel-control-next, .carousel-control-next {
        margin-bottom: 1140px!important;     
        left: 315px!important;    
}
.detalhe-img img {
	width: 105px;
	height: 105px;
}
.cart-box {
	width: 98%;
	left: 1%;
	max-height: 330px;
}
.cursos-online.col-4 {
	flex: 0 0 50%!important;
    max-width: 50%!important;
}
.cursos-por.col-4 {
	flex: 0 0 50%!important;
    max-width: 50%!important;
}
.position-card {
	right: -3%;
	top: 0;
}
.sq-preco {
    margin-top: -30px;  
    font-size: 14px;

}

.box-cursos-online {
	height: 455px!important;
}
.d-w {
    height: 38.5px;
}
}	
/* col-lg */
@media screen and (max-width: 992px) and (min-width: 769px){
.font-lg-9 {font-size: 9pt!important;}	
.font-lg-10 {font-size: 10pt!important;}
.font-lg-11 {font-size: 11pt!important;}
.font-lg-12 {font-size: 12pt!important;}
.font-lg-13 {font-size: 13pt!important;}
.font-lg-14 {font-size: 14pt!important;}
.font-lg-15 {font-size: 15pt!important;}
.font-lg-16 {font-size: 16pt!important;}
.font-lg-18 {font-size: 18pt!important;}
.font-lg-20 {font-size: 20pt!important;}
.font-lg-22 {font-size: 22pt!important;}
.font-lg-24 {font-size: 24pt!important;}
.font-lg-33 {font-size: 33pt!important;}
.woocommerce-width {
	width: 290px;
}


.box-cursos-online {
	height: 400px!important;
}

.sq-vantagem {
	
	margin-left: 3%;
}
.fale-conosco-assunto-texto {	
	min-height: 20px;
}

.box-azul {
    width: 100%;
    text-align: center;
}
.box-amarelo {
    width: 100%;
    text-align: center;
}

.box-verde {
    width: 100%;
}
.dropdown-contentt {
    left: 13.5%;

}	


.address {
font-family: arial;
line-height: 24px;
text-transform: none;
color: white;
font-weight: normal;
}

}
/* Ipad pro */
@media screen and (max-width: 1024px) and (min-width: 993px) {
.font-lg-9 {font-size: 9pt!important;}	
.font-lg-10 {font-size: 10pt!important;}
.font-lg-11 {font-size: 11pt!important;}
.font-lg-12 {font-size: 12pt!important;}
.font-lg-13 {font-size: 13pt!important;}
.font-lg-14 {font-size: 14pt!important;}
.font-lg-15 {font-size: 15pt!important;}
.font-lg-16 {font-size: 16pt!important;}
.font-lg-18 {font-size: 18pt!important;}
.font-lg-20 {font-size: 20pt!important;}
.font-lg-22 {font-size: 22pt!important;}
.font-lg-24 {font-size: 24pt!important;}
.font-lg-33 {font-size: 33pt!important;}
.cart-box {
	width: 40%;
	left: 58%
}
.simulado-height {
	height: 290px!important;
}
.col-cursos-grade {
    width: 20%!important;
}
.b-top {
	top:189px;
}
.blog-scroll {
	top:101px!important;
}
.secao-barra-clara-scroll {
	top: 102px!important;
}
.position-card {
	position: relative;
	right: 48.5%;
	top: 0;
}
.h-rodape-grid {
	height: 130px!important;
}
.cursos-online-h-top {
	height: 260px;
}
.cursos-online-h-body {
	height: 125px;
}
.font-ipro-12 {
	font-size: 12pt!important;
}
.d-w {
    height: 40px;
}
.w-drop {
	width: 115px;
}
.secao-barra-clara {
    top: 190px;
}
.woocommerce-result-count, .orderby {
	margin-top:-30px !important;
}
#orderby-autor .woocommerce-result-count, .orderby {
	margin-top: 15px !important;
}
.contarativo-height-3 {
	height: 185px;
}
.bg-img-size-curso {
    height: 200px!important;
}
.box-cursos-professor {
    height: 360px;
}
.minha-conta-baixar-tudo {
	left: 73.6%;	
}

.detalhe-img img {
	width: 140px;
	height: 140px;
}

.box-home-concursos {
	height: 220px!important;
}
.login-box {  
    left: 28%;
}
.cart-box-scroll {
    left: 53%!important; 
    top: 102px!important
}

.w-cell-table {
	width: 400px;
}
.woocommerce ul.products li.product a img {  
    height: 120px!important;    
}


}
@media screen and (min-width: 1001px) and (max-width: 1024px) {

.barra-secundaria {
	display: block;
	margin: 10px 0;
}


}
/* col-xl */
@media screen and (max-width: 1366px) and (min-width: 1025px) {


}

/* 1080p */
@media screen and (max-width: 1753px) and (min-width: 1367px) {
	.col-1080 {
		width: 52%!important
	}
}

@media screen and (max-width: 1299px) and (min-width: 1100px) {
	.dropdown-contentt {
	    left: 24%!important;  
	}
}

@media screen and (max-width: 1499px) and (min-width: 1300px) {
	.dropdown-contentt {
    	left: 26%!important;
	}
}

@media screen and (max-width: 1699px) and (min-width: 1500px) {
	.dropdown-contentt {
	    left: 28%!important;
	}
}

@media screen and (max-width: 1999px) and (min-width: 1700px) {
	.dropdown-contentt {
	    left: 30%!important;    
	}
}

@media screen and (max-width: 2000px) and (min-width: 1754px) {
	.login-box {  
	    left: 61.2%;
	}
	.cart-box-scroll {
	    left: 59.3%!important; 
	}
	.dropdown-contentt {
	    left: 32%!important;  
	}
	.expo-img-footer {
		width: 65%;
	}
	.col-1080 {
		width: 50%!important
	}
}
