.comum-sprite, .comum-carrinho-mobile, .comum-carrinho, .comum-cartao, .comum-descontos, .comum-facebook, .comum-fale-conosco, .comum-instagram, .comum-sq, .comum-trinta-dias, .comum-youtube {
  background-image: url('/wp-content/themes/academy/core/resources/img/sprites/comum-s04cffe3a17.png');
  background-repeat: no-repeat;
}

.comum-carrinho-mobile {
  background-position: 0 0;
}

.comum-carrinho {
  background-position: 0 -29px;
}

.comum-cartao {
  background-position: 0 -53px;
}

.comum-descontos {
  background-position: 0 -92px;
}

.comum-facebook {
  background-position: 0 -117px;
}

.comum-fale-conosco {
  background-position: 0 -146px;
}

.comum-instagram {
  background-position: 0 -171px;
}

.comum-sq {
  background-position: 0 -200px;
}

.comum-trinta-dias {
  background-position: 0 -224px;
}

.comum-youtube {
  background-position: 0 -308px;
}

.comum-carrinho {
  height: 24px;
  width: 34px;
}

.comum-cartao {
  height: 39px;
  width: 60px;
}

.comum-carrinho-mobile {
  height: 29px;
  width: 35px;
}

.comum-descontos {
  height: 24px;
  width: 24px;
}

.comum-facebook, .comum-instagram, .comum-youtube {
  height: 29px;
  width: 29px;
  background-color: #fff;
}

.comum-fale-conosco {
  height: 24px;
  width: 23px;
}

.comum-sq {
  height: 24px;
  width: 32px;
}

.comum-trinta-dias {
  height: 83px;
  width: 60px;
}
